extends layout/bunnerTemplate




block aside
	.banners_left
		a(href="http://orac-spb.ru/catalog/saleleader/")
			img(src="../img/bnrs/bnr-aside.jpg" alt="Хиты продаж")

block content
	.bnr-main
		.bnr-main__item


			//-include ../img/bnrs/mask.svg
			svg.bnr-main__window(xmlns="http://www.w3.org/2000/svg" width="355" height="305" viewBox="0 0 355 305")
				defs
					clippath(id='bnrMask')
						path.bnr-main__mask(d="M246,305V113h109v192H246z M246,0h109v99H246V0z M123,0h109v305H123V0z M0,206h109v99H0V206z M0,0h109v192H0V0z")
				g(clip-path='url(#bnrMask')
					image.bnr-main__image(x='0', y='0', width='532', height='353', xlink:href='../img/bnrs/view.jpg')
			a(href='#'): img(src='../img/bnrs/bnr-main.jpg')
		style.
			.banners_left img{width:100%}
			.bnr-main{margin-top:23px}
			.bnr-main__item{position:relative}
			.bnr-main__window{position:absolute;top:0;left:58.94%;height:100%;width:36.9%}
			.bnr-main img{width:100%}
			.bnr-output{margin:17px -1px 0;font-size:0}
			.bnr-output__item{display:inline-block;vertical-align:top;padding:1px;-webkit-box-sizing:border-box;box-sizing:border-box}
			.bnr-output__item_1,.bnr-output__item_2{width:25%}
			.bnr-output__item_3{width:50%}
			.bnr-output__item img{width:100%}
		script.
			var $mask = document.querySelectorAll('.bnr-main__image')[0];
			document.body.addEventListener('mousemove', function (e) {
				var X = -(e.clientX * 100 / window.innerWidth),
					Y = -(e.clientY * 100 / window.innerHeight)
				;

				$mask.setAttribute('x', X * 0.8);
				$mask.setAttribute('y', Y * 0.4);
			});
	.advantages
		.adv-item
			.adv-icon
				i.fa.fa-truck
			.adv-text
				| Бесплатная доставка по СПб от 5000 руб.
		.adv-item
			.adv-icon
				i.fa.fa-star-o
			.adv-text
				| Все товары сертифицированы
		.adv-item
			.adv-icon
				i.fa.fa-history
			.adv-text
				| Возможна доставка «Сегодня на сегодня»

	.bnr-output
		.bnr-output__item.bnr-output__item_1: a(href='#'): img(src='../img/bnrs/bnr-1_.jpg')
		.bnr-output__item.bnr-output__item_2: a(href='#'): img(src='../img/bnrs/bnr-2_.jpg')
		.bnr-output__item.bnr-output__item_3: a(href='#'): img(src='../img/bnrs/bnr-3_.jpg')

	//-.anythingContainer
		ul.anythingSlider
			li
				a(href="javascript:void(0)" style="background:url(http://orac-spb.ru/upload/resize_cache/iblock/f87/958_304_1/f87c785035fc26f9589d5e152a67632e.jpg) center center no-repeat; background-size:cover;")
