extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	form.form
		.form__field
			.form__input
				input(type='email', name='email', placeholder='Адрес электронной почты', data-require='true')
			.form__message

		.form__field
			.form__input
				input(type='tel', name='phone', data-mask='+7 (999) 999-99-99' placeholder='', data-require='true')
				span.placeholder Номер телефона
			.form__message

		.form__field
			.form__input
				label
					input(type='checkbox', name='checkbox', data-require='true')
					.form__label Я согласен #[a(href='#') ссылка]
			.form__message

		.form__field
			.form__input
				label
					input(type='radio', name='radio', data-require='true')
					.form__label Радио 1 #[a(href='#') ссылка]
				label
					input(type='radio', name='radio', data-require='true')
					.form__label Радио 2 #[a(href='#') ссылка]
			.form__message

		.form__field
			.form__input
				input(type='submit', value='Подписаться')

block append