extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head


mixin welcomeCarousel(group)
	.kv__carousel-item.products(data-group= group, class= group == 'elements' ? 'is-active' : '')
		.products__carousel
			each item, index in htmlWebpackPlugin.options.data.kv[group]
				.products__carousel-slide(data-product-id= index)
					.products__carousel-image: img(src= item.image, alt= item.title)
					.products__carousel-title= item.title
					.products__carousel-text= item.text


block content

	//-script.
		let s = !{htmlWebpackPlugin.options.data.page.kv.elements[0].image};

	section#kv.kv
		.kv__top
			.kv__bg
				.kv__bg-item(data-group='elements').is-active: img.obj-fit(src='img/decor/elements.jpg')
				.kv__bg-item(data-group='ceiling'): img.obj-fit(src='img/decor/ceiling.jpg')
				.kv__bg-item(data-group='floor'): img.obj-fit(src='img/decor/floor.jpg')
				.kv__bg-item(data-group='wall'): img.obj-fit(src='img/decor/wall.jpg')
				.kv__bg-item(data-group='lighting'): img.obj-fit(src='img/decor/lighting.jpg')
			.inner
				.kv__title #[span Orac Décor®] интерьерные#[br]решения для дома
				.kv__menu
					.kv__menu-item(data-group='elements').is-active Элементы декора
					.kv__menu-item(data-group='ceiling') Декор потолка
					.kv__menu-item(data-group='floor') Декор пола
					.kv__menu-item(data-group='wall') Декор стен
					.kv__menu-item(data-group='lighting') Освещение
		.kv__bottom
			.inner
				.kv__carousel
					+welcomeCarousel('elements', ['w100.png', 'w103.png', 'w104.png', 'w105.png'])
					+welcomeCarousel('ceiling', ['w100.png', 'w103.png', 'w104.png', 'w105.png'])
					+welcomeCarousel('floor', ['w100.png', 'w103.png', 'w104.png', 'w105.png'])
					+welcomeCarousel('wall', ['w100.png', 'w103.png', 'w104.png', 'w105.png'])
					+welcomeCarousel('lighting', ['w100.png', 'w103.png', 'w104.png', 'w105.png'])


	section#welcome.welcome
		.inner
			.welcome__title Добро пожаловать в мир#[br]фантазий #[span Orac Décor®]
			.welcome__text
				.welcome__text-column
					p Лепной декор способен сделать интерьер подчеркнуто стильным, вычурным, элегантным. В отличие от увесистого, тяжелого в работе гипса, полиуретан радует малым весом и простотой монтажа.
					p Полиуретановая лепнина на потолок от Orac Decor впечатлит разнообразием стилей. Сдержанный минимализм, легендарная классика, роскошное барокко, утонченная эклектика георгианской эпохи — вы обязательно найдете идеальный для себя вариант.
				.welcome__text-column
					p Обратите внимание, что&nbsp;многие изделия станут прекрасным украшением не&nbsp;только потолка, но&nbsp;и&nbsp;стен. Все&nbsp;материалы представлены в&nbsp;нейтральном белом&nbsp;цвете. При&nbsp;необходимости вы&nbsp;легко сможете перекрасить их&nbsp;в&nbsp;нужный&nbsp;вам&nbsp;оттенок.
					p.quote Потолочная лепнина - классический прием, позволяющий сделать переход от потолка к стенам более мягким, деликатным.

			.welcome__gallery
				.gallery
					.gallery__overlay
					.gallery__zoom: include ../img/svg/lens.svg
					.gallery__list.gallery-slider
						each item in htmlWebpackPlugin.options.data.gallery
							.gallery__item
								.gallery__item-control
									a(href= item.image, target='_blank')
										include ../img/svg/open.svg
										| Открыть оригинал
									a(href='')
										include ../img/svg/share.svg
										| Поделиться

								.gallery__title!= item.title
								.gallery__main
									.gallery__main-image: img.obj-fit(src!= item.image)
									each point in item.points
										.gallery__main-point(data-point= point.number, style={left: point.left + '%', top: point.top + '%'})!= point.number
								.gallery__aside
									.gallery__aside-title В проекте используется продукция:
									.gallery__aside-list
										each consist in item.consist
											.gallery__aside-item(data-point= consist.number)
												.gallery__aside-count!= consist.number
												.gallery__aside-name!= consist.title
												each image in consist.image
													.gallery__aside-image: img.obj-fit(src!= image)
					.gallery__preview
						.gallery__preview-list.gallery-slider
							each item in htmlWebpackPlugin.options.data.gallery
								.gallery__preview-item: .gallery__preview-image: img.obj-fit(src!= item.image)

	section#advantage.advantage
		.inner
			.advantage__title Преимущества
			.advantage__list
				.advantage__item.is-active
					.advantage__item-title Окрашивание
					.advantage__item-text Лепной декор способен сделать интерьер подчеркнуто стильным, вычурным, элегантным. В отличие от увесистого, тяжелого в работе гипса, полиуретан радует малым весом и простотой монтажа.
				.advantage__item
					.advantage__item-title Легко монтируются
					.advantage__item-text Лепной декор способен сделать интерьер подчеркнуто стильным, вычурным, элегантным. В отличие от увесистого, тяжелого в работе гипса, полиуретан радует малым весом и простотой монтажа.
				.advantage__item
					.advantage__item-title Не боятся влаги
					.advantage__item-text Лепной декор способен сделать интерьер подчеркнуто стильным, вычурным, элегантным. В отличие от увесистого, тяжелого в работе гипса, полиуретан радует малым весом и простотой монтажа.
				.advantage__item
					.advantage__item-title Идеальны для ремонта
					.advantage__item-text Лепной декор способен сделать интерьер подчеркнуто стильным, вычурным, элегантным. В отличие от увесистого, тяжелого в работе гипса, полиуретан радует малым весом и простотой монтажа.

			.advantage__graph
				.advantage__graph-item(data-model='data/k1112.obj')
				.advantage__graph-control
					.advantage__graph-control-handler
				.advantage__graph-360: img(src='img/svg/360.svg')

	section#example.example
		.example__top
			.inner
				.example__title Примеры работ

				.example__info
					.example__info-list.example-slider
						each item in htmlWebpackPlugin.options.data.examples
							.example__info-item
								.example__info-title!= item.title
								.example__info-text!= item.text

					.example__info-counter 01 | 12


			.example__preview
				.example__preview-list.example-slider
					each item, index in htmlWebpackPlugin.options.data.examples
						.example__preview-item(data-open-gallery= index): img.obj-fit(src= item.preview, alt= item.title)

		.example__composition
			.inner
				.example__composition-title Проект был выполнен с использованием#[br] следующих видов продукции:
				.example__composition-list
					each item, index in htmlWebpackPlugin.options.data.examples
						.example__composition-item.products(class= index == 0 ? 'is-active' : '')
							.products__carousel
								each slide in item.elements
									.products__carousel-slide(data-product-id= index)
										.products__carousel-image: img(src= slide.image, alt= slide.title)
										.products__carousel-title!= slide.title
										.products__carousel-text!= slide.text

	section#videos.videos
		.videos__preview
			.videos__preview-list.videos-slider
				each item, index in htmlWebpackPlugin.options.data.videos
					.videos__preview-item
						img.obj-fit(src= item.preview, alt= item.title)
						.videos__preview-play(data-video-type= item.videoType, data-video-src= item.videoSrc): include ../img/svg/play.svg
		.inner
			.inner
				.videos__info
					.videos__info-list.videos-slider
						each item in htmlWebpackPlugin.options.data.videos
							.videos__info-item
								.videos__info-title!= item.title
								.videos__info-text!= item.text

					.videos__info-counter 01 | 12

	section#contacts.contacts
		.inner
			.contacts__title Фирменный магазин лепнины#[br]и декора #[span Orac Décor®]
			.contacts__link
				a(href='tel:+78122401126') +7 (812) 240-11-26
				span info@orac-spb.ru
			.contacts__address г. Санкт-Петербург, пр-т. Дальневосточный 14, ТЦ "Мебельвуд", 101, 1 этаж
			.contacts__btns
				.btn.btn_big(data-popup-open='.popup_call') Заказать звонок
				a(href='#').btn.btn_fill.btn_big Перейти в интернет магазин

		.contacts__map

block append