doctype html
head
	link(rel='shortcut icon' type='image/x-icon' href='https://kronopol-spb.ru/local/templates/elektro_flat/favicon.ico')
	link(rel='apple-touch-icon' sizes='57x57' href='https://kronopol-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-114.png')
	link(rel='apple-touch-icon' sizes='114x114' href='https://kronopol-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-114.png')
	link(rel='apple-touch-icon' sizes='72x72' href='https://kronopol-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-144.png')
	link(rel='apple-touch-icon' sizes='144x144' href='https://kronopol-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-144.png')
	meta(name='yandex-verification' content='f132be87e4731d0a')
	title &Ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;-&mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy; Kronopol &vcy; &Scy;&Pcy;&bcy;
	meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
	meta(name='robots' content='index, follow')
	meta(name='keywords' content='ламинат kronopol, ламинат кронопол')
	meta(name='description' content='Официальный представитель ламината Кронопол в СПб')
	link(href='https://kronopol-spb.ru/bitrix/cache/css/s1/elektro_flat/kernel_main/kernel_main.css?156269974044417' type='text/css' rel='stylesheet')
	link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext' type='text/css' rel='stylesheet')
	//-link(href='https://kronopol-spb.ru/bitrix/cache/css/s1/elektro_flat/template_08346f0edae9723181d7e54e299a1988/template_08346f0edae9723181d7e54e299a1988.css?1563389651420137' type='text/css' rel='stylesheet')
	link(href='https://23.105.226.148/bitrix/cache/css/s1/elektro_flat/template_db53c4f0613516f4354f056d5999ea11/template_db53c4f0613516f4354f056d5999ea11.css?1564393067422745' type='text/css' rel='stylesheet')
	script(type='text/javascript' src='https://kronopol-spb.ru/bitrix/cache/js/s1/elektro_flat/kernel_main/kernel_main.js?1562758183278963')
	script(type='text/javascript' src='https://kronopol-spb.ru/bitrix/js/main/jquery/jquery-1.8.3.min.js?156121444993636')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	script(type='text/javascript' src='https://kronopol-spb.ru/bitrix/cache/js/s1/elektro_flat/template_be8e8b8bd7104c02ba12ad6476d83eb6/template_be8e8b8bd7104c02ba12ad6476d83eb6.js?1562700151354289')


	style.
		.top-menu {
			background: #ae9a64;
		}
		.top-menu ul.store-horizontal > li > a{
			color: #fff;
		}
		.top-menu ul.store-horizontal > li.active > a{
			background: #fafafd;
			border-top: 1px solid #eeeff6;
			border-bottom: 1px solid #eeeff6;
			line-height: 30px;
		}
		ul.left-menu > li{
			margin: 0;
		}
		ul.left-menu > li > a {
			border-radius: 0;
			text-decoration: none;
			background: #fafafd;
			border: 1px solid #eeeff6;
			border-top: 0!important;
			font-weight: 600;
			padding: 9px 32px 9px 11px;
			position: relative;
		}
		ul.left-menu > li > a:after {
			content: '';
			display: block;
			position: absolute;
			width: 4px;
			height: 7px;
			top: 50%;
			right: 12px;
			margin-top: -4px;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4px' height='7px' viewBox='0 0 4 7'%3E%3Cpath fill='%23575b71' d='M3.8,3L1.2,0.2c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.8,0,1l2.1,2.2L0.2,5.7c-0.3,0.3-0.3,0.8,0,1c0.3,0.3,0.7,0.3,1,0L3.8,4C3.9,3.9,4,3.7,4,3.5C4,3.3,3.9,3.1,3.8,3z'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
		}
		ul.left-menu > li:last-child a {
			border-radius: 0 0 3px 3px;
		}
		ul.left-menu > li.is-active > a,
		ul.left-menu > li:hover > a, ul.left-menu > li.selected > a{
			background: #ae9a64;
			border: 1px solid #ae9a64;
		}

		ul.left-menu > li.is-active > a:after,
		ul.left-menu > li:hover > a:after,
		ul.left-menu > li.selected > a:after{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4px' height='7px' viewBox='0 0 4 7'%3E%3Cpath fill='%23FFFFFF' d='M3.8,3L1.2,0.2c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.8,0,1l2.1,2.2L0.2,5.7c-0.3,0.3-0.3,0.8,0,1c0.3,0.3,0.7,0.3,1,0L3.8,4C3.9,3.9,4,3.7,4,3.5C4,3.3,3.9,3.1,3.8,3z'/%3E%3C/svg%3E%0A");
		}

body
	.body.clvr
		.page-wrapper.bg-repeat-x.bg-repeat-y.bg-fixed
			header
				.center
					.header_1
						.logo
							a(href='/')
								img(alt='logo' src='https://kronopol-spb.ru/local/templates/elektro_flat/images/SwissKrono_Logo.jpg')
					.header_2
						#altop_search.form-box
							form(action='/catalog/')
								i.fa.fa-search
								input#title-search-input(type='text' name='q' maxlength='50' autocomplete='off' placeholder='Поиск по товарам, брендам, категориям' value='')
								input(type='submit' name='submit' value='Найти')
					.header_3
						.schedule
							p.time
								i.fa.fa-clock-o
								| &Vcy;&rcy;&iecy;&mcy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;:
							p
								| &Pcy;&Ncy;-&Pcy;&Tcy; 11:00 - 20:00
								br
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Scy;&Bcy;-&Vcy;&Scy; 11:00 - 20:00
					.header_4
						.contacts
							.telephone
								p
									i.fa.fa-phone
									| +7 (812) 240-11-26
								br
							a#callbackAnch.btn_buy.apuo.callback_anch(href='javascript:void(0)')
								span.cont
									i.fa.fa-phone
									span.text &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
			.top-menu
				.center
					ul.store-horizontal
						li.active
							a(href='/') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
						li
							a(href='/catalog/') &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
						li
							a(href='/payments/') &Ocy;&pcy;&lcy;&acy;&tcy;&acy;
						li
							a(href='/delivery/') &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
						li.dropdown
							a(href='/about/') &Ocy; &Kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
							ul.dropdown-menu
								li
									a(href='/about/details/') &Rcy;&iecy;&kcy;&vcy;&icy;&zcy;&icy;&tcy;&ycy;
						li
							a(href='/contacts/') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
						li
							a(href='/returns/') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;&acy;
						li
							a(href='/warranty/') &Gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&yacy;
					script(type='text/javascript').
						//<![CDATA[
						$(function() {
							//MOREMENU//
							$(".top-menu ul.store-horizontal").moreMenu();
							//DROPDOWN//
							$(".top-menu ul.store-horizontal .dropdown:not(.more)").on({
								mouseenter: function() {
									var menu = $(this).closest(".store-horizontal"),
										menuWidth = menu.outerWidth(),
										menuLeft = menu.offset().left,
										menuRight = menuLeft + menuWidth,
										isParentDropdownMenu = $(this).closest(".dropdown-menu"),
										dropdownMenu = $(this).children(".dropdown-menu"),
										dropdownMenuWidth = dropdownMenu.outerWidth(),
										dropdownMenuLeft = isParentDropdownMenu.length > 0 ? $(this).offset().left + $(this).outerWidth() : $(this).offset().left,
										dropdownMenuRight = dropdownMenuLeft + dropdownMenuWidth;
									if(dropdownMenuRight > menuRight) {
										if(isParentDropdownMenu.length > 0) {
											dropdownMenu.css({"left": "auto", "right": "100%"});
										} else {
											dropdownMenu.css({"right": "0"});
										}
									}
									$(this).children(".dropdown-menu").stop(true, true).delay(200).fadeIn(150);
								},
								mouseleave: function() {
									$(this).children(".dropdown-menu").stop(true, true).delay(200).fadeOut(150);
								}
							});
						});
						//]]>
			.top_panel
				.center
					.panel_1
						ul.section-vertical
							li
								a.showsection(href='javascript:void(0)')
									i.fa.fa-bars
									span &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
								.catalog-section-list(style='display:none;')
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/aroma_aurum/') Aroma Aurum
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/cuprum_platinium/') Cuprum Platinium
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/gusto_aurum/') Gusto Aurum
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/linea_platinium/') Linea Platinium
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/marine_platinium/') Marine Platinium
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/mars_platinium/') Mars Platinium
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/route_des_vins_platinium/') Route Des Vins Platinium
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/senso_aurum/') Senso Aurum
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/sound_aurum/') Sound Aurum
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/venus_platinium/') Venus Platinium
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/vision_aurum/') Vision Aurum
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/plintusa_i_krepezh/') &Pcy;&lcy;&icy;&ncy;&tcy;&ucy;&scy;&acy; &icy; &kcy;&rcy;&iecy;&pcy;&iecy;&zhcy;
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/podlozhka/') &Pcy;&ocy;&dcy;&lcy;&ocy;&zhcy;&kcy;&acy;
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/kronopol_8_mm/') Kronopol 8 &mcy;&mcy;
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/kronopol_10_mm/') Kronopol 10 &mcy;&mcy;
									.catalog-section
										.catalog-section-title(style='margin:0px 0px 2px 0px;')
											a(href='/catalog/kronopol_12_mm/') Kronopol 12 &mcy;&mcy;
						script(type='text/javascript').
							//<![CDATA[
							$(function() {
								$('.showsection').click(function() {
									var clickitem = $(this);
									if(clickitem.parent('li').hasClass('')) {
										clickitem.parent('li').addClass('active');
									} else {
										clickitem.parent('li').removeClass('active');
									}
									if($('.showsubmenu').parent('li').hasClass('active')) {
										$('.showsubmenu').parent('li').removeClass('active');
										$('.showsubmenu').parent('li').find('ul.submenu').css({'display':'none'});
									}
									if($('.showcontacts').parent('li').hasClass('active')) {
										$('.showcontacts').parent('li').removeClass('active');
										$('.header_4').css({'display':'none'});
									}
									if($('.showsearch').parent('li').hasClass('active')) {
										$('.showsearch').parent('li').removeClass('active');
										$('.header_2').css({'display':'none'});
										$('div.title-search-result').css({'display':'none'});
									}
									clickitem.parent('li').find('.catalog-section-list').slideToggle();
								});
								$('.showsectionchild').click(function() {
									var clickitem = $(this);
									if(clickitem.parent('div').hasClass('active')) {
										clickitem.parent('div').removeClass('active');
									} else {
										clickitem.parent('div').addClass('active');
									}
									clickitem.parent('div').parent('div').find('.catalog-section-childs').slideToggle();
								});
							});
							//]]>
					.panel_2
						ul.store-vertical
							li
								a.showsubmenu(href='javascript:void(0)') &Mcy;&iecy;&ncy;&yucy;
								ul.submenu(style='display:none;')
									li
										a.root-item-selected(href='/') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
									li
										a.root-item(href='/catalog/') &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
									li
										a.root-item(href='/payments/') &Ocy;&pcy;&lcy;&acy;&tcy;&acy;
									li
										a.root-item(href='/delivery/') &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
									li
										span.text
											a.root-item(href='/about/') &Ocy; &Kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
											span.showchild
												i.fa.fa-plus-circle
												i.fa.fa-minus-circle
										ul(style='display:none;')
											li
												a.root-item(href='/about/details/') &Rcy;&iecy;&kcy;&vcy;&icy;&zcy;&icy;&tcy;&ycy;
									li
										a.root-item(href='/contacts/') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
									li
										a.root-item(href='/returns/') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;&acy;
									li
										a.root-item(href='/warranty/') &Gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&yacy;
						script(type='text/javascript').
							//<![CDATA[
							$(function() {
								$('.showsubmenu').click(function() {
									var clickitem = $(this);
									if(clickitem.parent('li').hasClass('')) {
										clickitem.parent('li').addClass('active');
									} else {
										clickitem.parent('li').removeClass('active');
									}
									if($('.showsection').parent('li').hasClass('active')) {
										$('.showsection').parent('li').removeClass('active');
										$('.showsection').parent('li').find('.catalog-section-list').css({'display':'none'});
									}
									if($('.showcontacts').parent('li').hasClass('active')) {
										$('.showcontacts').parent('li').removeClass('active');
										$('.header_4').css({'display':'none'});
									}
									if($('.showsearch').parent('li').hasClass('active')) {
										$('.showsearch').parent('li').removeClass('active');
										$('.header_2').css({'display':'none'});
										$('div.title-search-result').css({'display':'none'});
									}
									clickitem.parent('li').find('ul.submenu').slideToggle();
								});
								var lis = $('.submenu').find('li');
								for(var i = 0; i < lis.length; i++) {
									if($(lis[i]).hasClass('item-selected')) {
										$(lis[i]).addClass('active');
										var ul = $(lis[i]).find('ul:first');
										$(ul).css({display: 'block'});
									}
								}
								$('.showchild').click(function() {
									var clickitem = $(this);
									if(clickitem.parent('span').parent('li').hasClass('active')) {
										clickitem.parent('span').parent('li').removeClass('active');
									} else {
										clickitem.parent('span').parent('li').addClass('active');
									}
									clickitem.parent('span').parent('li').find('ul:first').slideToggle();
								});
							});
							//]]>
					.panel_3
						ul.contacts-vertical
							li
								a.showcontacts(href='javascript:void(0)')
									i.fa.fa-phone
					.panel_4
						ul.search-vertical
							li
								a.showsearch(href='javascript:void(0)')
									i.fa.fa-search
			.content-wrapper
				script(src="https://unpkg.com/popper.js@1")
				script(src="https://unpkg.com/tippy.js@4")
				link(rel="stylesheet", href="https://unpkg.com/tippy.js@4/themes/light.css")

				script.
					tippy();

				style.

					.tippy-tooltip {
						background-color: #fff;
						color: #000;
						box-shadow: inset 0 0 0 1px #ccc;
					}
					.tippy-tooltip .tippy-arrow:before {content: '';display: block;position: absolute;border: 8px solid transparent;}
					.tippy-tooltip[x-placement^='top'] .tippy-arrow {border-top-color: #ccc;}
					.tippy-tooltip[x-placement^='bottom'] .tippy-arrow {border-bottom-color: #ccc;}

					.tippy-tooltip[x-placement^='top'] .tippy-arrow:before{border-top-color: #fff;top: -9px;left: -8px;}
					.tippy-tooltip[x-placement^='bottom'] .tippy-arrow:before{border-bottom-color: #fff;top: -7px;left: -8px;}


					.content-preview + .center .content .left-column{
						z-index: 3;
						position: relative;
					}

					.content-preview__item{
						padding: 20px 0;
						display: none;
						position: absolute;
						background: #fafafd;
						width: 100%;
						z-index: 1;
						left: 0;
					}
					.content-preview__item.is-active{
						z-index: 2;
					}

					.content-preview__poster{
						font-size: 0;
						border-radius: 4px;
						overflow: hidden;
						margin-bottom: 20px;
					}

					.content-preview__poster img{
						width: 100%;
					}

					.content-preview__title{
						color: #af9a64;
						font-size: 30px;
						margin-bottom: 10px;
					}

					.content-preview__body{

					}

					.content-preview__info{
						display: table-cell;
						padding-right: 20px;
					}

					.content-preview__aside{
						display: table-cell;
					}

					.content-preview__text{
						line-height: 1.5;
						margin-bottom: 20px;
					}


					.content-preview__aside{
						width: 203px;
					}

					a.content-preview__btn{
						font-family: "Open Sans", sans-serif;
						font-size: 11px;
						font-weight: 400;
						color: #fff;
						background: #b72937;
						text-align: center;
						text-transform: uppercase;
						border: none;
						border-radius: 4px;
						transition: all 0.15s ease 0s;
						display: block;
						padding: 10px 15px;
						text-decoration: none;
					}

					.content-preview__icons{
						font-size: 0;
					}

					.content-preview__icon{
						display: inline-block;
						height: 50px;
						width: 50px;
						position: relative;
						font-size: 0;
						margin: 0 15px 15px 0;
					}

					.content-preview__icon-tooltip{
						position: absolute;
						bottom: 100%;
						left: 50%;
						transform: translateX(-50%);
						border: 1px solid #ccc;
						border-radius: 4px;
						padding: 10px;
						background: #fff;
						font-size: 12px;
						min-width: 150px;
						text-align: center;
						z-index: 2;
					}

					.content-preview__icon img{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						transition: opacity 0.3s ease;
					}

					.content-preview__icon .hover{
						opacity: 0;
					}

					.content-preview__icon:hover .hover{
						opacity: 1;
					}

					.left-menu .is-active a{
						background: #f00;
					}



				.content-preview
					.content-preview__item(data-preview-item="aroma_aurum")
						.center
							.content
								.left-column &nbsp;
								.workarea
									.content-preview__inner
										.content-preview__poster: img(src='https://via.placeholder.com/958x304?text=Баннер')
										.content-preview__title AROMA
										.content-preview__body
											.content-preview__info
												.content-preview__text Ssdasd asd as AFasf sddfgdfg dfg sdfg Ssdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfg
												.content-preview__icons
													- for (var i = 0; i < 8; i++)
														.content-preview__icon(data-tippy='<b>3D</b> - какой то текст', data-tippy-arrow='true')
															img(src='https://via.placeholder.com/50x50?text=ICO')
															img.hover(src='https://via.placeholder.com/50x50?text=ICO%20hover')

											.content-preview__aside
												a(href='#').content-preview__btn В каталог
					.content-preview__item(data-preview-item="cuprum_platinium")
						.center
							.content
								.left-column &nbsp;
								.workarea
									.content-preview__inner
										.content-preview__poster: img(src='https://via.placeholder.com/958x304?text=Баннер')
										.content-preview__title AROMA
										.content-preview__body
											.content-preview__info
												.content-preview__text Ssdasd asd as AFasf sddfgdfg dfg sdfg Ssdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfgSsdasd asd as AFasf sddfgdfg dfg sdfg
												.content-preview__icons
													- for (var i = 0; i < 8; i++)
														.content-preview__icon(data-tippy='<b>3D</b> - какой то текст', data-tippy-arrow='true')
															img(src='https://via.placeholder.com/50x50?text=ICO')
															img.hover(src='https://via.placeholder.com/50x50?text=ICO%20hover')

											.content-preview__aside
												a(href='#').content-preview__btn В каталог

				.center
					.content
						.left-column
							//-.h3 &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;
							ul.left-menu
								li(data-preview-link='aroma_aurum')
									a(href='/catalog/aroma_aurum/') Aroma Aurum
								li(data-preview-link='cuprum_platinium')
									a(href='/catalog/cuprum_platinium/') Cuprum Platinium
								li(data-preview-link='gusto_aurum')
									a(href='/catalog/gusto_aurum/') Gusto Aurum
								li(data-preview-link='linea_platinium')
									a(href='/catalog/linea_platinium/') Linea Platinium
								li
									a(href='/catalog/marine_platinium/') Marine Platinium
								li
									a(href='/catalog/mars_platinium/') Mars Platinium
								li
									a(href='/catalog/route_des_vins_platinium/') Route Des Vins Platinium
								li
									a(href='/catalog/senso_aurum/') Senso Aurum
								li
									a(href='/catalog/sound_aurum/') Sound Aurum
								li
									a(href='/catalog/venus_platinium/') Venus Platinium
								li
									a(href='/catalog/vision_aurum/') Vision Aurum
								li
									a(href='/catalog/plintusa_i_krepezh/') &Pcy;&lcy;&icy;&ncy;&tcy;&ucy;&scy;&acy; &icy; &kcy;&rcy;&iecy;&pcy;&iecy;&zhcy;
								li
									a(href='/catalog/podlozhka/') &Pcy;&ocy;&dcy;&lcy;&ocy;&zhcy;&kcy;&acy;
								li
									a(href='/catalog/kronopol_8_mm/') Kronopol 8 &mcy;&mcy;
								li
									a(href='/catalog/kronopol_10_mm/') Kronopol 10 &mcy;&mcy;
								li
									a(href='/catalog/kronopol_12_mm/') Kronopol 12 &mcy;&mcy;
							script(type='text/javascript').
								//<![CDATA[
								$(function() {

									var hold = false, timeout;

									$("ul.left-menu").children("[data-preview-link]").on({
										mouseenter: function() {
											var $t = $(this);
											hold = $t.attr('data-preview-link');

											timeout = setTimeout(function () {
												showPreview(hold);
											}, 200)
										},
										mouseleave: function(e) {
											hold = !1;

											timeout = setTimeout(function(){
												hidePreview();
											}, 200)
										}
									});

									$("[data-preview-item]").find(".content-preview__inner").on({
										mouseenter: function() {
											hold = $(this).closest('[data-preview-item]').attr('data-preview-item');
											clearTimeout(timeout);
										},
										mouseleave: function(e) {
											hold = !1;
											timeout = setTimeout(function () {
												hidePreview();
											}, 200)
										}
									});


									function showPreview(name) {
										var $item = $('[data-preview-item=' + name + ']'),
											$link = $('[data-preview-link=' + name + ']')
										;

										$('[data-preview-item]').not($item).stop(true, true).slideUp(500);
										$('[data-preview-link]').removeClass('is-active');
										$link.addClass('is-active');
										$item.addClass('is-active').stop(true, true).slideDown(500);
									}


									function hidePreview(name) {
										var $item = name ? $('[data-preview-item=' + name + ']') : $('[data-preview-item]'),
											$link = name ? $('[data-preview-link=' + name + ']') : $('[data-preview-link]')
										;

										if ( !hold ){
											$link.removeClass('is-active');
											$item.removeClass('is-active').stop(true, true).slideUp(500);
										}
									}


								});
								//]]>
							ul.new_leader_disc
								li
									a.new(href='/catalog/newproduct/')
										span.icon New
										span.text &Ncy;&ocy;&vcy;&icy;&ncy;&kcy;&icy;
								li
									a.hit(href='/catalog/saleleader/')
										span.icon &KHcy;&icy;&tcy;
										span.text &KHcy;&icy;&tcy;&ycy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;
								li
									a.discount(href='/catalog/discount/')
										span.icon %
										span.text &Scy;&kcy;&icy;&dcy;&kcy;&icy;
							.banners_left
								a(href='javascript:void(0)')
									img(src='https://kronopol-spb.ru/upload/iblock/91a/91a6f3761a82d46037283b4a78ac7580.jpg' width='202' height='304' alt='Сертификаты качества ламината Kronopol')
							.vendors
								.h3 &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy;
								.vendors-list
									p.vendors-item
										a(rel='nofollow' href='/vendors/arbiton/') Arbiton
									p.vendors-item
										a(rel='nofollow' href='/vendors/krono_swiss_kronopol/') Krono Swiss (Kronopol)
									p.vendors-item
										a(rel='nofollow' href='/vendors/profitex/') Profitex
									p.vendors-item
										a(rel='nofollow' href='/vendors/tuplex/') Tuplex
								a.all(href='/vendors/') &Vcy;&scy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy;
							.subscribe
								.h3 &Bcy;&ucy;&dcy;&softcy;&tcy;&iecy; &vcy; &kcy;&ucy;&rcy;&scy;&iecy;!
								p &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;, &ocy;&bcy;&zcy;&ocy;&rcy;&ycy; &icy; &acy;&kcy;&tscy;&icy;&icy;
								form(action='/personal/subscribe/')
									input(type='hidden' name='sf_RUB_ID[]' value='1')
									input.text(type='text' name='sf_EMAIL' maxlength='50' value='Email' onfocus="this.value=''" onblur="if (this.value==''){this.value='Email'}")
									button.btn_buy.ppp(type='submit' name='submit' value='Подписаться') &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
						.workarea
							.bnr-main
								.bnr-main__item


									//-include ../img/bnrs/mask.svg
									svg.bnr-main__window(xmlns="http://www.w3.org/2000/svg" width="815" height="306" viewBox="0 0 815 306")
										defs
											style.
												.shadow-path {
													filter: url(#filter);
												}
											filter#filter(x='246' y='708' width='267' height='97' filterunits='userSpaceOnUse')
												feoffset(result='offset' in='SourceAlpha')
												fegaussianblur(result='blur' stddeviation='1.732')
												feflood(result='flood' flood-color='#191919' flood-opacity='0.15')
												fecomposite(result='composite' operator='in' in2='blur')
												feblend(result='blend' in='SourceGraphic')
											clippath(id='bnrMask')
												//-rect.bnr-main__mask(width="815", height="304")
												path.bnr-main__mask(d="M0,0H815L815,306H0V0Z")
												//-path(d="M246,305V113h109v192H246z M246,0h109v99H246V0z M123,0h109v305H123V0z M0,206h109v99H0V206z M0,0h109v192H0V0z")
										g(clip-path='url(#bnrMask')
											image.bnr-main__image(x='0', y='0', width='880', height='429', xlink:href='../img/bnrs/view_sk.jpg')
										path(style='mix-blend-mode: multiply;' fill='#c43039' d='M0,598H363V904H0V598Zm259,63.831H194.757L88.038,804.876V841h57.25v-66.45L194.757,841H259l-66.691-89.583ZM145.288,704.874V661H88.038v60.131H30v60.132H88.753Z' transform='translate(0 -599)')
										path.shadow-path(fill='#ffffff' d='M268.385,731.856h-2.432v-17.9h-9.785a66.875,66.875,0,0,1-3.867,17.9h-1.26v9.638h3.867v-6.123h9.61v6.123h3.867v-9.638Zm-11.938,0a59.077,59.077,0,0,0,1.911-7.01,70.214,70.214,0,0,0,1.179-7.39h2.432v14.4h-5.522Zm27.041-15.389a6.5,6.5,0,0,0-5.684-2.849,6.587,6.587,0,0,0-5.742,2.835q-1.992,2.833-1.992,8.152,0,5.361,1.992,8.21a7.132,7.132,0,0,0,11.411-.007q1.992-2.857,1.992-8.174T283.488,716.467Zm-8.423,2.579a2.936,2.936,0,0,1,2.739-1.912q3.575,0,3.574,7.5t-3.6,7.5a2.919,2.919,0,0,1-2.71-1.919A17.356,17.356,0,0,1,275.065,719.046Zm23.679,4.841a6.918,6.918,0,0,0-4.915-1.568H292.57v-4.892h6.181v-3.472H288.585v21.416h5.405a6.187,6.187,0,0,0,4.754-1.78,7.091,7.091,0,0,0,1.662-5.031A6.125,6.125,0,0,0,298.744,723.887Zm-6.174,1.919h0.966a2.966,2.966,0,0,1,2.2.681,3.142,3.142,0,0,1,.652,2.219q0,3.209-2.593,3.208h-1.23v-6.108Zm16.054-11.851H303.19v21.416h3.984v-7.763h1a6.51,6.51,0,0,0,4.973-1.824,7.341,7.341,0,0,0,1.721-5.237q0-6.592-6.24-6.592h0Zm-1.45,3.443h0.967a2.466,2.466,0,0,1,2.036.813,5.132,5.132,0,0,1-.059,5.134,2.774,2.774,0,0,1-2.182.806h-0.762V717.4Zm23.145-.931a6.5,6.5,0,0,0-5.684-2.849,6.587,6.587,0,0,0-5.742,2.835q-1.992,2.833-1.992,8.152,0,5.361,1.992,8.21a7.132,7.132,0,0,0,11.411-.007q1.992-2.857,1.992-8.174T330.319,716.467Zm-8.423,2.579a2.936,2.936,0,0,1,2.739-1.912q3.574,0,3.574,7.5t-3.6,7.5a2.919,2.919,0,0,1-2.71-1.919A17.356,17.356,0,0,1,321.9,719.046Zm34.16-5.091H342.828v21.416h3.985V717.456H352.1v17.915h3.955V713.955Zm16.538,2.512a6.5,6.5,0,0,0-5.684-2.849,6.587,6.587,0,0,0-5.742,2.835q-1.992,2.833-1.992,8.152,0,5.361,1.992,8.21a7.132,7.132,0,0,0,11.411-.007q1.992-2.857,1.992-8.174T372.594,716.467Zm-8.423,2.579a2.936,2.936,0,0,1,2.739-1.912q3.575,0,3.575,7.5t-3.6,7.5a2.919,2.919,0,0,1-2.71-1.919A17.356,17.356,0,0,1,364.171,719.046ZM375.8,735.371h4.321l4.732-10.854v10.854h3.72V724.517l4.776,10.854h4.321l-5.347-11.133,5.259-10.283h-4.116l-4.893,10.371V713.955h-3.72v10.371l-4.878-10.371H375.89l5.259,10.313Zm37.895,0-5.317-21.5h-5.4l-5.3,21.5h3.984l1.231-5.4h5.581l1.23,5.4h4Zm-10.019-8.935q1.23-5.406,1.523-6.922t0.484-2.776q0.072,0.616.432,2.439t0.461,2.278l1.143,4.981h-4.043Zm25.137-12.481h-10.65q-0.6,6.694-1.15,11.192a37.957,37.957,0,0,1-.981,5.786,1.484,1.484,0,0,1-1.253,1.289,2.936,2.936,0,0,1-1.084-.176v3.3a5.043,5.043,0,0,0,1.949.322,3.733,3.733,0,0,0,3.069-1.435A9.427,9.427,0,0,0,420.3,729.7q0.659-4.833,1.318-12.246h3.208v17.915h3.985V713.955Zm16.538,2.512a6.5,6.5,0,0,0-5.684-2.849,6.587,6.587,0,0,0-5.742,2.835q-1.992,2.833-1.992,8.152,0,5.361,1.992,8.21a7.132,7.132,0,0,0,11.411-.007q1.992-2.857,1.992-8.174T445.353,716.467Zm-8.423,2.579a2.936,2.936,0,0,1,2.739-1.912q3.575,0,3.574,7.5t-3.6,7.5a2.919,2.919,0,0,1-2.71-1.919A17.356,17.356,0,0,1,436.93,719.046Zm13.52,16.325H456.9a5.6,5.6,0,0,0,4.27-1.648,6.369,6.369,0,0,0,1.56-4.563,6.018,6.018,0,0,0-.806-3.31,4.154,4.154,0,0,0-2.622-1.7V724a3.249,3.249,0,0,0,2.2-1.516,5.644,5.644,0,0,0,.806-3.113,5.127,5.127,0,0,0-1.524-4.123q-1.522-1.3-4.863-1.3H450.45v21.416ZM454.2,717.4h1.685a2.547,2.547,0,0,1,1.846.578,2.615,2.615,0,0,1,.586,1.912,3.284,3.284,0,0,1-.513,2.007,2.1,2.1,0,0,1-1.773.673H454.2V717.4Zm1.949,8.5q2.518,0,2.519,2.871a3.756,3.756,0,0,1-.608,2.358,2.227,2.227,0,0,1-1.853.762H454.2v-5.991h1.949Zm23.642,9.477-5.317-21.5h-5.406l-5.3,21.5h3.984l1.231-5.4h5.581l1.23,5.4h4Zm-10.019-8.935q1.23-5.406,1.523-6.922t0.483-2.776q0.073,0.616.433,2.439t0.461,2.278l1.143,4.981h-4.043Zm18.486-8.98h4.1v-3.5H480.187v3.5h4.1v17.915h3.97V717.456Zm11.4,4.863h-1.025v-8.364h-3.984v21.416h5.1a6.421,6.421,0,0,0,4.864-1.787,6.966,6.966,0,0,0,1.713-5.024q0-6.24-6.665-6.241h0Zm-1.025,3.487h0.791a3.007,3.007,0,0,1,2.219.674,3.132,3.132,0,0,1,.652,2.226q0,3.209-2.666,3.208h-1v-6.108ZM252.784,766.725h6.446a5.6,5.6,0,0,0,4.27-1.648,6.369,6.369,0,0,0,1.56-4.563,6.018,6.018,0,0,0-.806-3.31,4.154,4.154,0,0,0-2.622-1.7v-0.147a3.249,3.249,0,0,0,2.2-1.516,5.642,5.642,0,0,0,.806-3.113,5.13,5.13,0,0,0-1.523-4.123q-1.524-1.3-4.864-1.3h-5.464v21.416Zm3.75-17.973h1.685a2.547,2.547,0,0,1,1.846.578,2.615,2.615,0,0,1,.586,1.912,3.284,3.284,0,0,1-.513,2.007,2.1,2.1,0,0,1-1.772.674h-1.832v-5.171Zm1.949,8.5q2.518,0,2.519,2.871a3.756,3.756,0,0,1-.608,2.358,2.227,2.227,0,0,1-1.853.762h-2.007v-5.991h1.949Zm28.916,9.477,4.057-18.208h0.117a34.411,34.411,0,0,0-.2,3.692v14.516h3.78V745.309h-6.211L285.3,762.14h-0.117l-3.662-16.831H275.4v21.416h3.691v-14.37a29.832,29.832,0,0,0-.278-3.867h0.161l4.072,18.237H287.4Zm11.528,0h4.922l6.562-15.542H310.6a19.078,19.078,0,0,0-.337,3.809v11.733h3.662V745.309h-4.893L302.5,760.69H302.34a23.537,23.537,0,0,0,.278-3.618V745.309h-3.691v21.416Zm24.214-21.416h-5.435v21.416h3.985v-7.763h1a6.511,6.511,0,0,0,4.973-1.824,7.345,7.345,0,0,0,1.721-5.237q0-6.591-6.24-6.592h0Zm-1.45,3.443h0.966a2.469,2.469,0,0,1,2.037.813,5.132,5.132,0,0,1-.059,5.134,2.776,2.776,0,0,1-2.183.806h-0.761v-6.753Zm31.025-3.443H342.067q-0.6,6.695-1.15,11.192a38.044,38.044,0,0,1-.982,5.786,1.483,1.483,0,0,1-1.252,1.289,2.932,2.932,0,0,1-1.084-.176v3.3a5.034,5.034,0,0,0,1.948.322,3.733,3.733,0,0,0,3.069-1.435,9.427,9.427,0,0,0,1.589-4.527q0.66-4.833,1.319-12.246h3.208v17.915h3.984V745.309Zm17.915,21.416-5.317-21.5h-5.406l-5.3,21.5h3.984l1.23-5.4H365.4l1.23,5.4h4Zm-10.02-8.935q1.232-5.406,1.524-6.922t0.483-2.776q0.073,0.617.432,2.439t0.462,2.278l1.142,4.981h-4.043Zm23.907,8.935,4.057-18.208h0.118a34.159,34.159,0,0,0-.206,3.692v14.516h3.78V745.309h-6.211l-3.633,16.831h-0.117l-3.662-16.831h-6.123v21.416h3.691v-14.37a29.832,29.832,0,0,0-.278-3.867H376.1l4.072,18.237h4.351Zm11.528,0h4.922l6.562-15.542h0.191a19.078,19.078,0,0,0-.337,3.809v11.733h3.662V745.309h-4.893L399.62,760.69h-0.161a23.412,23.412,0,0,0,.278-3.618V745.309h-3.691v21.416Zm32.007-21.416h-3.985v8.511H418.81v-8.511h-3.985v21.416h3.985v-9.389h5.258v9.389h3.985V745.309Zm17.915,21.416-5.317-21.5h-5.406l-5.3,21.5h3.985l1.23-5.4h5.581l1.231,5.4h4Zm-10.02-8.935q1.232-5.406,1.524-6.922t0.483-2.776q0.074,0.617.432,2.439t0.462,2.278l1.142,4.981h-4.043Zm18.487-8.98h4.1v-3.5H446.363v3.5h4.1v17.915h3.97V748.81Zm20.522,17.915-5.317-21.5h-5.406l-5.3,21.5h3.984l1.231-5.4h5.581l1.23,5.4h4Zm-10.019-8.935q1.23-5.406,1.523-6.922t0.483-2.776q0.073,0.617.433,2.439t0.461,2.278l1.143,4.981h-4.043ZM261.119,785.936l4.952-9.273h-4.263l-3.648,7.412-1.391,3.208v-10.62h-3.985v21.416h3.985v-7.558l1.6-1.6,3.515,9.155h4.248Zm12.3,3.808,3.384,8.335h4.263l-4.117-9.389q2.739-1.611,2.74-5.669a6.5,6.5,0,0,0-1.575-4.79,6.68,6.68,0,0,0-4.885-1.568h-5.215v21.416H272v-8.335h1.421ZM272,780.106h1a2.637,2.637,0,0,1,2.014.7,3.37,3.37,0,0,1,.652,2.336,3.86,3.86,0,0,1-.615,2.38,2.392,2.392,0,0,1-2.021.8H272v-6.211Zm23.775-.93a6.5,6.5,0,0,0-5.684-2.85,6.587,6.587,0,0,0-5.742,2.835q-1.992,2.835-1.992,8.152,0,5.361,1.992,8.21a7.132,7.132,0,0,0,11.411-.007q1.992-2.856,1.992-8.174T295.778,779.176Zm-8.423,2.578a2.936,2.936,0,0,1,2.739-1.912q3.575,0,3.574,7.5t-3.6,7.5a2.917,2.917,0,0,1-2.71-1.919A17.356,17.356,0,0,1,287.355,781.754Zm28.52-5.091h-3.662v11.69a20.919,20.919,0,0,0,.278,3.662H312.33l-6.562-15.352h-4.893v21.416h3.692v-11.7a18.813,18.813,0,0,0-.367-3.808h0.191l6.621,15.512h4.863V776.663Zm16.538,2.513a6.5,6.5,0,0,0-5.683-2.85,6.589,6.589,0,0,0-5.743,2.835Q319,782,319,787.313q0,5.361,1.992,8.21a7.133,7.133,0,0,0,11.412-.007q1.992-2.856,1.992-8.174T332.413,779.176Zm-8.423,2.578a2.938,2.938,0,0,1,2.74-1.912q3.573,0,3.574,7.5t-3.6,7.5a2.919,2.919,0,0,1-2.71-1.919A17.373,17.373,0,0,1,323.99,781.754Zm18.955-5.091h-5.434v21.416H341.5v-7.763h1a6.514,6.514,0,0,0,4.974-1.824,7.345,7.345,0,0,0,1.721-5.237q0-6.591-6.241-6.592h0Zm-1.45,3.443h0.967a2.466,2.466,0,0,1,2.036.813,5.135,5.135,0,0,1-.058,5.134,2.778,2.778,0,0,1-2.183.806H341.5v-6.753Zm23.145-.93a6.5,6.5,0,0,0-5.684-2.85,6.587,6.587,0,0,0-5.742,2.835q-1.992,2.835-1.992,8.152,0,5.361,1.992,8.21a7.132,7.132,0,0,0,11.411-.007q1.992-2.856,1.992-8.174T364.64,779.176Zm-8.423,2.578a2.936,2.936,0,0,1,2.739-1.912q3.574,0,3.574,7.5t-3.6,7.5a2.917,2.917,0,0,1-2.71-1.919A17.356,17.356,0,0,1,356.217,781.754Zm23.027,16.325v-3.486h-5.522v-17.93h-3.985v21.416h9.507Zm7.017,0V776.663h-3.75v21.416h3.75Zm13.454-9.243a9.05,9.05,0,0,0-2.922-2.871,9.214,9.214,0,0,1-2.175-1.831,3,3,0,0,1-.623-1.89,2.662,2.662,0,0,1,.52-1.735,1.811,1.811,0,0,1,1.487-.638,4.219,4.219,0,0,1,1.648.323,12.608,12.608,0,0,1,1.472.732l1.319-3.193a9,9,0,0,0-4.732-1.377,5.4,5.4,0,0,0-4.109,1.611,6.079,6.079,0,0,0-1.531,4.365,7.462,7.462,0,0,0,.389,2.52,6.535,6.535,0,0,0,1.1,1.955,10.107,10.107,0,0,0,2.088,1.824,10.27,10.27,0,0,1,2.27,1.97,3.116,3.116,0,0,1,.689,1.956,2.435,2.435,0,0,1-.579,1.714,2.222,2.222,0,0,1-1.721.63,8.239,8.239,0,0,1-4.409-1.568v3.941a9.613,9.613,0,0,0,4.76,1.1,5.746,5.746,0,0,0,4.373-1.6,6.428,6.428,0,0,0,1.516-4.6A6.67,6.67,0,0,0,399.715,788.836Z' transform='translate(0 -599)')

									a(href='#'): img(src='../img/bnrs/bnr-main_sk.jpg')
								style.
									.bnr-main {margin-top: 23px}
									.bnr-main__item {position: relative;border-radius: 5px;overflow: hidden;}
									.bnr-main__window {position: absolute;top: -1px;left: 0;height: calc(100% + 2px);width: 84.8%;overflow: hidden;}
									.bnr-main img {width: 100%}

								script.
									var $mask = document.querySelectorAll('.bnr-main__image')[0];
									document.body.addEventListener('mousemove', function (e) {
										var X = -(e.clientX * 100 / window.innerWidth),
											Y = -(e.clientY * 100 / window.innerHeight)
										;

										$mask.setAttribute('x', X * 0.6);
										$mask.setAttribute('y', Y * 0.4);
									});
							.advantages
								.adv-item
									.adv-icon
										i.fa.fa-truck
									.adv-text
										| &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&acy;&yacy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &pcy;&ocy; &Scy;&Pcy;&bcy; &ocy;&tcy; 10000 &rcy;&ucy;&bcy;.
								.adv-item
									.adv-icon
										i.fa.fa-star-o
									.adv-text
										| &Vcy;&scy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&ycy; &scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&tscy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ycy;
								.adv-item
									.adv-icon
										i.fa.fa-history
									.adv-text
										| &Vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&acy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &laquo;&Scy;&iecy;&gcy;&ocy;&dcy;&ncy;&yacy; &ncy;&acy; &scy;&iecy;&gcy;&ocy;&dcy;&ncy;&yacy;&raquo;
							.banners-main
								.banners-main__row
									.banners-main__item(style='width:25%;')
										.banners-main__item-carousel
											div
												a.banners-main__item-link(href='https://kronopol-spb.ru/catalog/kronopol_8_mm/' )
													span.banners-main__item-image(style="background-image:url('https://kronopol-spb.ru/upload/iblock/01c/01ce65fda58bace08b6663916b3c4b46.jpg');")
													span.banners-main__item-block-wrap
														span.banners-main__item-block
															span.banners-main__item-text.small
											div
												a.banners-main__item-link(href='https://kronopol-spb.ru/catalog/kronopol_8_mm/' )
													span.banners-main__item-image(style="background-image:url('https://kronopol-spb.ru/upload/iblock/01c/01ce65fda58bace08b6663916b3c4b46.jpg');")
													span.banners-main__item-block-wrap
														span.banners-main__item-block
															span.banners-main__item-text.small
									.banners-main__item(style='width:25%;')
										.banners-main__item-carousel
											div
												a.banners-main__item-link(href='https://kronopol-spb.ru/catalog/plintusa_i_krepezh/' )
													span.banners-main__item-image(style="background-image:url('https://kronopol-spb.ru/upload/iblock/06e/06ec3ea4633ecd56188c11c91204831e.jpg');")
													span.banners-main__item-block-wrap
														span.banners-main__item-block
															span.banners-main__item-btn
																span.banners-main__item-text
									.banners-main__item(style='width:50%;')
										.banners-main__item-carousel
											div
												a.banners-main__item-link(href='https://kronopol-spb.ru/catalog/kronopol_12_mm/' style='width:50%;')
													span.banners-main__item-image(style="background-image:url('https://kronopol-spb.ru/upload/iblock/57a/57aa79371b4d35b38854bbfb9d8e77cb.jpg');")
													span.banners-main__item-block-wrap
														span.banners-main__item-block
															span.banners-main__item-btn
																span.banners-main__item-text
																button.btn_buy(name='banners-main__item-button') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &scy;&iecy;&bcy;&iecy; &pcy;&ocy; &dcy;&ucy;&shcy;&iecy;
								script.
									$(function () {


									})

								style.
									.banners-main__item-carousel{
										height: 270px;
										overflow: hidden;
									}

							.tabs-wrap
								ul.tabs
									li.tabs__tab.recommend
										a(href='javascript:void(0)')
											span &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy;
									li.tabs__tab.new
										a(href='javascript:void(0)')
											span &Ncy;&ocy;&vcy;&icy;&ncy;&kcy;&icy;
									li.tabs__tab.hit
										a(href='javascript:void(0)')
											span &KHcy;&icy;&tcy;&ycy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;
									li.tabs__tab.discount
										a(href='javascript:void(0)')
											span &Scy;&kcy;&icy;&dcy;&kcy;&icy;
								.tabs__box.recommend
								.tabs__box.new
									.catalog-top
										a.all(href='/catalog/newproduct/') &Vcy;&scy;&iecy; &ncy;&ocy;&vcy;&icy;&ncy;&kcy;&icy;
								.tabs__box.hit
									.catalog-top
										.filtered-items
											.catalog-item-cards
												.catalog-item-card
													.catalog-item-info
														.item-image-cont
															.item-image
																a(href='/catalog/podlozhka/podlozhka_arbiton_secura_extra_aquastop_3_mm/')
																	img.item_img(src='https://kronopol-spb.ru/upload/resize_cache/iblock/465/178_178_1/465e95db40c128f806f34a91080a98f7.jpg' width='178' height='118' alt='Подложка Arbiton Secura Extra Aquastop 3 мм' title='Подложка Arbiton Secura Extra Aquastop 3 мм')
																	span.sticker
																		span.hit &KHcy;&icy;&tcy;
																	img.manufacturer(src='https://kronopol-spb.ru/upload/resize_cache/iblock/345/69_24_1/34587836741690191a338788ee543cb6.jpg' width='49' height='24' alt='Arbiton' title='Arbiton')
														.item-all-title
															a.item-title(href='/catalog/podlozhka/podlozhka_arbiton_secura_extra_aquastop_3_mm/' title='Подложка Arbiton Secura Extra Aquastop 3 мм')
																| &Pcy;&ocy;&dcy;&lcy;&ocy;&zhcy;&kcy;&acy; Arbiton Secura Extra Aquastop 3 &mcy;&mcy;
														.article_rating
															.article
																| &Acy;&rcy;&tcy;&icy;&kcy;&ucy;&lcy;: -
															.rating
																#vote_23268.iblock-vote
																	script(type='text/javascript').
																		//<![CDATA[
																		if(!window.voteScript) window.voteScript = {
																			trace_vote: function(div, flag) {
																				var my_div;
																				var r = div.id.match(/^vote_(\\d+)_(\d+)$/);
																				for(var i = r[2]; i >= 0; i--) {
																					my_div = document.getElementById('vote_'+r[1]+'_'+i);
																					if(my_div) {
																						if(flag) {
																							if(!my_div.saved_class)
																								my_div.saved_className = my_div.className;
																							if(my_div.className!='star-active star-over')
																								my_div.className = 'star-active star-over';
																						} else {
																							if(my_div.saved_className && my_div.className != my_div.saved_className)
																								my_div.className = my_div.saved_className;
																						}
																					}
																				}
																				i = r[2]+1;
																				while(my_div = document.getElementById('vote_'+r[1]+'_'+i)) {
																					if(my_div.saved_className && my_div.className != my_div.saved_className)
																						my_div.className = my_div.saved_className;
																					i++;
																				}
																			},
																			do_vote: function(div, parent_id, arParams) {
																				var r = div.id.match(/^vote_(\\d+)_(\d+)$/);
																				var vote_id = r[1];
																				var vote_value = r[2];
																				function __handler(data) {
																					var obContainer = document.getElementById(parent_id);
																					if(obContainer) {
																						var obResult = document.createElement("DIV");
																						obResult.innerHTML = data;
																						obContainer.parentNode.replaceChild(obResult.firstChild, obContainer);
																					}
																				}
																				//BX('wait_' + parent_id).innerHTML = BX.message('JS_CORE_LOADING');
																				BX(parent_id).innerHTML = BX.message('JS_CORE_LOADING');
																				arParams['vote'] = 'Y';
																				arParams['vote_id'] = vote_id;
																				arParams['rating'] = vote_value;
																				BX.ajax.post(
																					'/bitrix/components/bitrix/iblock.vote/component.php',
																					arParams,
																					__handler
																				);
																			}
																		}
																		//]]>
																	table
																		tr
																			td
																				#vote_23268_0.star(title='1')
																					i.fa.fa-star
																			td
																				#vote_23268_1.star(title='2')
																					i.fa.fa-star
																			td
																				#vote_23268_2.star(title='3')
																					i.fa.fa-star
																			td
																				#vote_23268_3.star(title='4')
																					i.fa.fa-star
																			td
																				#vote_23268_4.star(title='5')
																					i.fa.fa-star
																			td.vote-result
																				#wait_vote_23268 (0)
															.clr
														.item-desc
														.item-price-cont
															.item-price
																span.catalog-item-price
																	| 860&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
																	span.unit
																		| &rcy;&ucy;&bcy;.&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
																		span
																			| / &ucy;&pcy;.
														.buy_more
															.available
																.avl
																	i.fa.fa-check-circle
																	span
																		| &Vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
															.add2basket_block
																form.add2basket_form(action='/ajax/add2basket.php')
																	a.minus(href='javascript:void(0)' onclick="if (BX('quantity_bx_1970176138_23268').value > 1) BX('quantity_bx_1970176138_23268').value = parseFloat(BX('quantity_bx_1970176138_23268').value)-1;")
																		span -
																	input#quantity_bx_1970176138_23268.quantity(type='text' name='quantity' value='1')
																	a.plus(href='javascript:void(0)' onclick="BX('quantity_bx_1970176138_23268').value = parseFloat(BX('quantity_bx_1970176138_23268').value)+1;")
																		span +
																	input(type='hidden' name='ID' value='23268')
																	button#bx_1970176138_23268_btn_buy.btn_buy(type='button' name='add2basket' value='В корзину')
																		i.fa.fa-shopping-cart
																		span &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
															.clr
															.compare
																a#catalog_add2compare_link_bx_1970176138_23268.catalog-item-compare(href='javascript:void(0)' onclick="return addToCompare('/index.php?action=ADD_TO_COMPARE_LIST&id=23268', 'catalog_add2compare_link_bx_1970176138_23268', '/');" title='Добавить к сравнению' rel='nofollow')
																	i.fa.fa-bar-chart
																	i.fa.fa-check
															.delay
																a#catalog-item-delay-bx_1970176138_23268.catalog-item-delay(href='javascript:void(0)' onclick="return addToDelay('23268', 'quantity_bx_1970176138_23268', '', '', 'catalog-item-delay-bx_1970176138_23268', '/')" title='Отложить' rel='nofollow')
																	i.fa.fa-heart-o
																	i.fa.fa-check
												.catalog-item-card
													.catalog-item-info
														.item-image-cont
															.item-image
																a(href='/catalog/podlozhka/podlozhka_arbiton_optima_thermo_aquastop/')
																	img.item_img(src='https://kronopol-spb.ru/upload/resize_cache/iblock/3eb/178_178_1/3eb0f5194629808de2334b9e90286489.jpg' width='118' height='178' alt='Подложка Arbiton Optima Thermo Aquastop' title='Подложка Arbiton Optima Thermo Aquastop')
																	span.sticker
																		span.hit &KHcy;&icy;&tcy;
																	img.manufacturer(src='https://kronopol-spb.ru/upload/resize_cache/iblock/345/69_24_1/34587836741690191a338788ee543cb6.jpg' width='49' height='24' alt='Arbiton' title='Arbiton')
														.item-all-title
															a.item-title(href='/catalog/podlozhka/podlozhka_arbiton_optima_thermo_aquastop/' title='Подложка Arbiton Optima Thermo Aquastop')
																| &Pcy;&ocy;&dcy;&lcy;&ocy;&zhcy;&kcy;&acy; Arbiton Optima Thermo Aquastop
														.article_rating
															.article
																| &Acy;&rcy;&tcy;&icy;&kcy;&ucy;&lcy;: -
															.rating
																#vote_23267.iblock-vote
																	script(type='text/javascript').
																		//<![CDATA[
																		if(!window.voteScript) window.voteScript = {
																			trace_vote: function(div, flag) {
																				var my_div;
																				var r = div.id.match(/^vote_(\\d+)_(\d+)$/);
																				for(var i = r[2]; i >= 0; i--) {
																					my_div = document.getElementById('vote_'+r[1]+'_'+i);
																					if(my_div) {
																						if(flag) {
																							if(!my_div.saved_class)
																								my_div.saved_className = my_div.className;
																							if(my_div.className!='star-active star-over')
																								my_div.className = 'star-active star-over';
																						} else {
																							if(my_div.saved_className && my_div.className != my_div.saved_className)
																								my_div.className = my_div.saved_className;
																						}
																					}
																				}
																				i = r[2]+1;
																				while(my_div = document.getElementById('vote_'+r[1]+'_'+i)) {
																					if(my_div.saved_className && my_div.className != my_div.saved_className)
																						my_div.className = my_div.saved_className;
																					i++;
																				}
																			},
																			do_vote: function(div, parent_id, arParams) {
																				var r = div.id.match(/^vote_(\\d+)_(\d+)$/);
																				var vote_id = r[1];
																				var vote_value = r[2];
																				function __handler(data) {
																					var obContainer = document.getElementById(parent_id);
																					if(obContainer) {
																						var obResult = document.createElement("DIV");
																						obResult.innerHTML = data;
																						obContainer.parentNode.replaceChild(obResult.firstChild, obContainer);
																					}
																				}
																				//BX('wait_' + parent_id).innerHTML = BX.message('JS_CORE_LOADING');
																				BX(parent_id).innerHTML = BX.message('JS_CORE_LOADING');
																				arParams['vote'] = 'Y';
																				arParams['vote_id'] = vote_id;
																				arParams['rating'] = vote_value;
																				BX.ajax.post(
																					'/bitrix/components/bitrix/iblock.vote/component.php',
																					arParams,
																					__handler
																				);
																			}
																		}
																		//]]>
																	table
																		tr
																			td
																				#vote_23267_0.star-voted(title='1')
																					i.fa.fa-star
																			td
																				#vote_23267_1.star-voted(title='2')
																					i.fa.fa-star
																			td
																				#vote_23267_2.star-voted(title='3')
																					i.fa.fa-star
																			td
																				#vote_23267_3.star-voted(title='4')
																					i.fa.fa-star
																			td
																				#vote_23267_4.star-voted(title='5')
																					i.fa.fa-star
																			td.vote-result
																				#wait_vote_23267 (1)
															.clr
														.item-desc
														.item-price-cont
															.item-price
																span.catalog-item-price
																	| 1 800&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
																	span.unit
																		| &rcy;&ucy;&bcy;.&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
																		span
																			| / &ucy;&pcy;.
														.buy_more
															.available
																.avl
																	i.fa.fa-check-circle
																	span
																		| &Vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
															.add2basket_block
																form.add2basket_form(action='/ajax/add2basket.php')
																	a.minus(href='javascript:void(0)' onclick="if (BX('quantity_bx_1970176138_23267').value > 1) BX('quantity_bx_1970176138_23267').value = parseFloat(BX('quantity_bx_1970176138_23267').value)-1;")
																		span -
																	input#quantity_bx_1970176138_23267.quantity(type='text' name='quantity' value='1')
																	a.plus(href='javascript:void(0)' onclick="BX('quantity_bx_1970176138_23267').value = parseFloat(BX('quantity_bx_1970176138_23267').value)+1;")
																		span +
																	input(type='hidden' name='ID' value='23267')
																	button#bx_1970176138_23267_btn_buy.btn_buy(type='button' name='add2basket' value='В корзину')
																		i.fa.fa-shopping-cart
																		span &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
															.clr
															.compare
																a#catalog_add2compare_link_bx_1970176138_23267.catalog-item-compare(href='javascript:void(0)' onclick="return addToCompare('/index.php?action=ADD_TO_COMPARE_LIST&id=23267', 'catalog_add2compare_link_bx_1970176138_23267', '/');" title='Добавить к сравнению' rel='nofollow')
																	i.fa.fa-bar-chart
																	i.fa.fa-check
															.delay
																a#catalog-item-delay-bx_1970176138_23267.catalog-item-delay(href='javascript:void(0)' onclick="return addToDelay('23267', 'quantity_bx_1970176138_23267', '', '', 'catalog-item-delay-bx_1970176138_23267', '/')" title='Отложить' rel='nofollow')
																	i.fa.fa-heart-o
																	i.fa.fa-check
												.catalog-item-card
													.catalog-item-info
														.item-image-cont
															.item-image
																a(href='/catalog/podlozhka/podlozhka_arbiton_secura_lvt_click_smart/')
																	img.item_img(src='https://kronopol-spb.ru/upload/resize_cache/iblock/77a/178_178_1/77a1d79dc49fd9a5073ba7820d49feb8.png' width='178' height='127' alt='Подложка Arbiton Secura LVT Click Smart' title='Подложка Arbiton Secura LVT Click Smart')
																	span.sticker
																		span.hit &KHcy;&icy;&tcy;
																	img.manufacturer(src='https://kronopol-spb.ru/upload/resize_cache/iblock/345/69_24_1/34587836741690191a338788ee543cb6.jpg' width='49' height='24' alt='Arbiton' title='Arbiton')
														.item-all-title
															a.item-title(href='/catalog/podlozhka/podlozhka_arbiton_secura_lvt_click_smart/' title='Подложка Arbiton Secura LVT Click Smart')
																| &Pcy;&ocy;&dcy;&lcy;&ocy;&zhcy;&kcy;&acy; Arbiton Secura LVT Click Smart
														.article_rating
															.article
																| &Acy;&rcy;&tcy;&icy;&kcy;&ucy;&lcy;: -
															.rating
																#vote_23001.iblock-vote
																	script(type='text/javascript').
																		//<![CDATA[
																		if(!window.voteScript) window.voteScript = {
																			trace_vote: function(div, flag) {
																				var my_div;
																				var r = div.id.match(/^vote_(\\d+)_(\d+)$/);
																				for(var i = r[2]; i >= 0; i--) {
																					my_div = document.getElementById('vote_'+r[1]+'_'+i);
																					if(my_div) {
																						if(flag) {
																							if(!my_div.saved_class)
																								my_div.saved_className = my_div.className;
																							if(my_div.className!='star-active star-over')
																								my_div.className = 'star-active star-over';
																						} else {
																							if(my_div.saved_className && my_div.className != my_div.saved_className)
																								my_div.className = my_div.saved_className;
																						}
																					}
																				}
																				i = r[2]+1;
																				while(my_div = document.getElementById('vote_'+r[1]+'_'+i)) {
																					if(my_div.saved_className && my_div.className != my_div.saved_className)
																						my_div.className = my_div.saved_className;
																					i++;
																				}
																			},
																			do_vote: function(div, parent_id, arParams) {
																				var r = div.id.match(/^vote_(\\d+)_(\d+)$/);
																				var vote_id = r[1];
																				var vote_value = r[2];
																				function __handler(data) {
																					var obContainer = document.getElementById(parent_id);
																					if(obContainer) {
																						var obResult = document.createElement("DIV");
																						obResult.innerHTML = data;
																						obContainer.parentNode.replaceChild(obResult.firstChild, obContainer);
																					}
																				}
																				//BX('wait_' + parent_id).innerHTML = BX.message('JS_CORE_LOADING');
																				BX(parent_id).innerHTML = BX.message('JS_CORE_LOADING');
																				arParams['vote'] = 'Y';
																				arParams['vote_id'] = vote_id;
																				arParams['rating'] = vote_value;
																				BX.ajax.post(
																					'/bitrix/components/bitrix/iblock.vote/component.php',
																					arParams,
																					__handler
																				);
																			}
																		}
																		//]]>
																	table
																		tr
																			td
																				#vote_23001_0.star-voted(title='1')
																					i.fa.fa-star
																			td
																				#vote_23001_1.star-voted(title='2')
																					i.fa.fa-star
																			td
																				#vote_23001_2.star-voted(title='3')
																					i.fa.fa-star
																			td
																				#vote_23001_3.star-voted(title='4')
																					i.fa.fa-star
																			td
																				#vote_23001_4.star-voted(title='5')
																					i.fa.fa-star
																			td.vote-result
																				#wait_vote_23001 (4)
															.clr
														.item-desc
														.item-price-cont
															.item-price
																span.catalog-item-price
																	| 2 249&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
																	span.unit
																		| &rcy;&ucy;&bcy;.&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
																		span
																			| / &ucy;&pcy;.
														.buy_more
															.available
																.avl
																	i.fa.fa-check-circle
																	span
																		| &Vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
															.add2basket_block
																form.add2basket_form(action='/ajax/add2basket.php')
																	a.minus(href='javascript:void(0)' onclick="if (BX('quantity_bx_1970176138_23001').value > 1) BX('quantity_bx_1970176138_23001').value = parseFloat(BX('quantity_bx_1970176138_23001').value)-1;")
																		span -
																	input#quantity_bx_1970176138_23001.quantity(type='text' name='quantity' value='1')
																	a.plus(href='javascript:void(0)' onclick="BX('quantity_bx_1970176138_23001').value = parseFloat(BX('quantity_bx_1970176138_23001').value)+1;")
																		span +
																	input(type='hidden' name='ID' value='23001')
																	button#bx_1970176138_23001_btn_buy.btn_buy(type='button' name='add2basket' value='В корзину')
																		i.fa.fa-shopping-cart
																		span &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
															.clr
															.compare
																a#catalog_add2compare_link_bx_1970176138_23001.catalog-item-compare(href='javascript:void(0)' onclick="return addToCompare('/index.php?action=ADD_TO_COMPARE_LIST&id=23001', 'catalog_add2compare_link_bx_1970176138_23001', '/');" title='Добавить к сравнению' rel='nofollow')
																	i.fa.fa-bar-chart
																	i.fa.fa-check
															.delay
																a#catalog-item-delay-bx_1970176138_23001.catalog-item-delay(href='javascript:void(0)' onclick="return addToDelay('23001', 'quantity_bx_1970176138_23001', '', '', 'catalog-item-delay-bx_1970176138_23001', '/')" title='Отложить' rel='nofollow')
																	i.fa.fa-heart-o
																	i.fa.fa-check
											.clr

										a.all(href='/catalog/saleleader/') &Vcy;&scy;&iecy; &khcy;&icy;&tcy;&ycy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;
								.tabs__box.discount
									.catalog-top
										a.all(href='/catalog/discount/') &Vcy;&scy;&iecy; &scy;&kcy;&icy;&dcy;&kcy;&icy;
							.body_text(style='padding:0px 15px;')
								h1(align='center' style='text-align: left;')
									b
										span(style='color: #b72937;') &Lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; Kronopol
								p
									| &Ncy;&acy; &scy;&iecy;&gcy;&ocy;&dcy;&ncy;&yacy;&shcy;&ncy;&icy;&jcy; &dcy;&iecy;&ncy;&softcy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&ncy;&acy;&yacy; &dcy;&ocy;&scy;&kcy;&acy; (&lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;) &pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy;&scy;&yacy; &bcy;&ocy;&lcy;&softcy;&shcy;&icy;&mcy; &scy;&pcy;&rcy;&ocy;&scy;&ocy;&mcy;. &Vcy;&iecy;&dcy;&softcy; &ecy;&tcy;&ocy;&tcy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy; &icy;&mcy;&iecy;&iecy;&tcy; &rcy;&yacy;&dcy; &pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;, &ocy;&ncy; &lcy;&iecy;&gcy;&kcy;&ocy; &ucy;&kcy;&lcy;&acy;&dcy;&ycy;&vcy;&acy;&iecy;&tcy;&scy;&yacy; &icy; &pcy;&rcy;&icy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy;&scy;&tcy;&icy; &bcy;&ycy;&scy;&tcy;&rcy;&ocy; &dcy;&iecy;&mcy;&ocy;&ncy;&tcy;&icy;&rcy;&ucy;&iecy;&tcy;&scy;&yacy;, &pcy;&rcy;&icy; &ecy;&tcy;&ocy;&mcy; &ocy;&bcy;&lcy;&acy;&dcy;&acy;&iecy;&tcy; &kcy;&rcy;&acy;&scy;&icy;&vcy;&ycy;&mcy; &icy; &scy;&tcy;&icy;&lcy;&softcy;&ncy;&ycy;&mcy; &vcy;&ncy;&iecy;&shcy;&ncy;&icy;&mcy; &vcy;&icy;&dcy;&ocy;&mcy;.
								p
									| &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &mcy;&ocy;&zhcy;&ncy;&ocy; &scy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &scy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;, &chcy;&tcy;&ocy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &icy;&dcy;&iecy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy;&mcy;. &Icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy; &mcy;&acy;&rcy;&kcy;&icy; Kronopol &zcy;&acy;&vcy;&ocy;&iecy;&vcy;&acy;&lcy;&icy; &scy;&vcy;&ocy;&yucy; &vcy;&ocy;&scy;&tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy; &ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ocy;&mcy;&ucy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&ucy;, &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&mcy;&ucy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ucy; &icy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&ocy;&jcy; &tscy;&iecy;&ncy;&iecy;.
								h2(align='center' style='text-align: left;')
									b
										span(style='color: #b72937;') Kronopol &ndash; &icy;&scy;&tcy;&ocy;&rcy;&icy;&yacy; &ocy;&scy;&ncy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
								p
									| &Icy;&scy;&tcy;&ocy;&rcy;&icy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &ecy;&tcy;&ocy;&gcy;&ocy; &bcy;&rcy;&iecy;&ncy;&dcy;&acy; &ncy;&acy;&chcy;&acy;&lcy;&acy;&scy;&softcy; &iecy;&shchcy;&iecy; &vcy; 1994 &gcy;&ocy;&dcy;&ucy; &vcy; &Pcy;&ocy;&lcy;&softcy;&shcy;&iecy;, &kcy;&ocy;&gcy;&dcy;&acy; Kronopol &pcy;&rcy;&icy;&scy;&ocy;&iecy;&dcy;&icy;&ncy;&icy;&lcy;&acy;&scy;&softcy; &kcy; &shcy;&vcy;&iecy;&jcy;&tscy;&acy;&rcy;&scy;&kcy;&ocy;&mcy;&ucy; &khcy;&ocy;&lcy;&dcy;&icy;&ncy;&gcy;&ucy;. &Bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy; &ecy;&tcy;&ocy;&mcy;&ucy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&acy;&scy;&softcy; &pcy;&ocy;&lcy;&softcy;&scy;&kcy;&acy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy;, &kcy;&ocy;&tcy;&ocy;&rcy;&acy;&yacy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy; &tcy;&ocy;&vcy;&acy;&rcy; &shcy;&vcy;&iecy;&jcy;&tscy;&acy;&rcy;&scy;&kcy;&ocy;&gcy;&ocy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&acy;.
								p
									| &Scy; &mcy;&ocy;&mcy;&iecy;&ncy;&tcy;&acy; &ocy;&scy;&ncy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; Kronopol &ncy;&acy;&chcy;&acy;&lcy;&ocy;&scy;&softcy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&iecy; &vcy;&ncy;&iecy;&dcy;&rcy;&iecy;&ncy;&icy;&iecy; &ncy;&ocy;&vcy;&ycy;&khcy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&jcy;, &pcy;&ocy;&lcy;&softcy;&zcy;&ucy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&khcy; &pcy;&ocy; &dcy;&ocy;&scy;&tcy;&ocy;&icy;&ncy;&scy;&tcy;&vcy;&ucy; &scy;&mcy;&ocy;&gcy;&lcy;&icy; &ocy;&tscy;&iecy;&ncy;&icy;&tcy;&softcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ycy;. &Ucy;&chcy;&icy;&tcy;&ycy;&vcy;&acy;&iecy;&tcy; &tcy;&ocy;&tcy; &fcy;&acy;&kcy;&tcy;, &chcy;&tcy;&ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy; &zcy;&acy;&ncy;&icy;&mcy;&acy;&iecy;&tcy;&scy;&yacy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;&mcy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &ncy;&acy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&icy; &IEcy;&vcy;&rcy;&ocy;&pcy;&iecy;&jcy;&scy;&kcy;&ocy;&gcy;&ocy; &scy;&ocy;&yucy;&zcy;&acy;, &ecy;&tcy;&ocy; &vcy; &scy;&vcy;&ocy;&yucy; &ocy;&chcy;&iecy;&rcy;&iecy;&dcy;&softcy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&rcy;&ucy;&iecy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&iecy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &icy; &pcy;&ocy;&lcy;&ncy;&ycy;&jcy; &kcy;&ocy;&ncy;&tcy;&rcy;&ocy;&lcy;&softcy; &zcy;&acy; &bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &gcy;&ocy;&tcy;&ocy;&vcy;&ocy;&gcy;&ocy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy;.
								p
									| &Pcy;&ocy;&mcy;&icy;&mcy;&ocy; &vcy;&scy;&iecy;&gcy;&ocy; Kronopol &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy; &zcy;&acy;&bcy;&ocy;&tcy;&icy;&tcy;&scy;&yacy; &ocy;&bcy; &ocy;&kcy;&rcy;&ucy;&zhcy;&acy;&yucy;&shchcy;&iecy;&mcy; &mcy;&icy;&rcy;&iecy;, &pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &ecy;&tcy;&ocy;&jcy; &mcy;&acy;&rcy;&kcy;&icy; &pcy;&ocy;&lcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &bcy;&iecy;&zcy;&vcy;&rcy;&iecy;&dcy;&iecy;&ncy;. &IEcy;&gcy;&ocy; &mcy;&ocy;&zhcy;&ncy;&ocy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &dcy;&acy;&zhcy;&iecy; &iecy;&scy;&lcy;&icy; &vcy; &dcy;&ocy;&mcy;&iecy; &pcy;&rcy;&icy;&scy;&ucy;&tcy;&scy;&tcy;&vcy;&ucy;&yucy;&tcy; &mcy;&acy;&lcy;&iecy;&ncy;&softcy;&kcy;&icy;&iecy; &dcy;&iecy;&tcy;&icy;.
								p
									| &Lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; Kronopol &icy;&mcy;&iecy;&iecy;&tcy; &ncy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &bcy;&iecy;&zcy;&ucy;&pcy;&rcy;&iecy;&chcy;&ncy;&ocy;&iecy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy;, &ncy;&ocy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy; &shcy;&icy;&rcy;&ocy;&kcy;&ocy;&mcy;&ucy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy;&ucy; &ocy;&ncy; &ucy;&dcy;&ocy;&vcy;&lcy;&iecy;&tcy;&vcy;&ocy;&rcy;&icy;&tcy;&softcy; &dcy;&acy;&zhcy;&iecy; &scy;&acy;&mcy;&ycy;&iecy; &zhcy;&iecy;&scy;&tcy;&ocy;&kcy;&icy;&iecy; &tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &pcy;&ocy;&kcy;&ucy;&pcy;&acy;&tcy;&iecy;&lcy;&iecy;&jcy;.
								h2(align='center' style='text-align: left;')
									b
										span(style='color: #b72937;') &Pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy; Kronopol &pcy;&iecy;&rcy;&iecy;&dcy; &dcy;&rcy;&ucy;&gcy;&icy;&mcy;&icy; &vcy;&icy;&dcy;&acy;&mcy;&icy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&khcy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&jcy;
								p
									| &Vcy; &ncy;&acy;&shcy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy; &scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&ucy;&iecy;&tcy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ycy;&jcy; &vcy;&ycy;&bcy;&ocy;&rcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&khcy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&jcy;. &Vcy;&ycy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ucy;&kcy;&rcy;&acy;&scy;&icy;&tcy;&softcy; &icy;&ncy;&tcy;&iecy;&rcy;&softcy;&iecy;&rcy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &dcy;&ocy;&mcy;&acy; &lcy;&icy;&ncy;&ocy;&lcy;&iecy;&ucy;&mcy;&ocy;&mcy;, &pcy;&acy;&rcy;&kcy;&iecy;&tcy;&ocy;&mcy; &icy; &tcy;.&dcy;.
								p
									| &Kcy;&acy;&zhcy;&dcy;&ycy;&jcy; &icy;&zcy; &ecy;&tcy;&icy;&khcy; &vcy;&icy;&dcy;&ocy;&vcy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&jcy; &khcy;&ocy;&rcy;&ocy;&shcy; &pcy;&ocy;-&scy;&vcy;&ocy;&iecy;&mcy;&ucy;. &Ncy;&ocy; &vcy; &pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&iecy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy; &vcy;&scy;&iecy; &chcy;&acy;&shchcy;&iecy; &vcy;&ycy;&bcy;&ocy;&rcy; &pcy;&ocy;&kcy;&ucy;&pcy;&acy;&tcy;&iecy;&lcy;&iecy;&jcy; &ocy;&scy;&tcy;&acy;&ncy;&acy;&vcy;&lcy;&icy;&vcy;&acy;&iecy;&tcy;&scy;&yacy; &ncy;&acy; &tcy;&acy;&kcy;&ocy;&mcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&icy;, &kcy;&acy;&kcy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;.
								p
									| &Kcy;&acy;&kcy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ocy;, &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &vcy;&ncy;&iecy;&shcy;&ncy;&iecy; &pcy;&ocy;&khcy;&ocy;&zhcy; &ncy;&acy; &pcy;&acy;&rcy;&kcy;&iecy;&tcy;, &ncy;&ocy; &ocy;&ncy; &ncy;&iecy; &icy;&mcy;&iecy;&iecy;&tcy; &ncy;&icy;&chcy;&iecy;&gcy;&ocy; &ocy;&bcy;&shchcy;&iecy;&gcy;&ocy; &scy; &dcy;&iecy;&rcy;&iecy;&vcy;&ocy;&mcy; &kcy;&rcy;&ocy;&mcy;&iecy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &vcy;&ncy;&iecy;&shcy;&ncy;&iecy;&gcy;&ocy; &vcy;&icy;&dcy;&acy;. &Tcy;&acy;&kcy;&icy;&mcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&mcy;, &mcy;&iecy;&zhcy;&dcy;&ucy; &scy;&tcy;&rcy;&ocy;&iecy;&ncy;&icy;&iecy;&mcy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy; &icy; &pcy;&acy;&rcy;&kcy;&iecy;&tcy;&acy; &ncy;&iecy;&tcy; &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&iecy;&ncy;&ncy;&ocy; &ncy;&icy;&chcy;&iecy;&gcy;&ocy; &ocy;&bcy;&shchcy;&iecy;&gcy;&ocy;.
								h2
									b
										span(style='color: #b72937;') &Ncy;&ocy;, &tcy;&iecy;&mcy; &ncy;&iecy; &mcy;&iecy;&ncy;&iecy;&iecy;, &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &ocy;&bcy;&lcy;&acy;&dcy;&acy;&iecy;&tcy; &tscy;&iecy;&lcy;&ycy;&mcy; &rcy;&yacy;&dcy;&ocy;&mcy; &pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;:
									span(style='color: #b72937;')
								span(style='color: #b72937;')
								p
									| &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &Vcy;&ocy;-&pcy;&iecy;&rcy;&vcy;&ycy;&khcy;, &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &acy;&bcy;&scy;&ocy;&lcy;&yucy;&tcy;&ncy;&ocy; &ncy;&iecy; &bcy;&ocy;&icy;&tcy;&scy;&yacy; &rcy;&acy;&zcy;&lcy;&icy;&chcy;&ncy;&ycy;&khcy; &pcy;&iecy;&rcy;&iecy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&ocy;&kcy;, &dcy;&acy;&mcy;&scy;&kcy;&icy;&khcy; &kcy;&acy;&bcy;&lcy;&ucy;&kcy;&ocy;&vcy;, &rcy;&ocy;&lcy;&icy;&kcy;&ocy;&vcy;&ycy;&khcy; &kcy;&ocy;&ncy;&softcy;&kcy;&ocy;&vcy;. &Pcy;&ocy;&chcy;&tcy;&icy; &vcy;&scy;&iecy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy; &kcy;&rcy;&ocy;&mcy;&iecy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy; &ncy;&iecy; &pcy;&iecy;&rcy;&iecy;&ncy;&ocy;&scy;&yacy;&tcy; &tcy;&acy;&kcy;&icy;&khcy; &ncy;&acy;&gcy;&rcy;&ucy;&zcy;&ocy;&kcy;, &ocy;&ncy;&icy; &pcy;&ocy;&rcy;&tcy;&yacy;&tcy;&scy;&yacy; &ncy;&acy; &gcy;&lcy;&acy;&zcy;&acy;&khcy;. &Acy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &ncy;&iecy; &bcy;&ocy;&icy;&tcy;&scy;&yacy; &dcy;&acy;&zhcy;&iecy; &scy;&lcy;&ucy;&chcy;&acy;&jcy;&ncy;&ocy; &ucy;&pcy;&acy;&vcy;&shcy;&iecy;&gcy;&ocy; &ncy;&acy; &ncy;&iecy;&gcy;&ocy; &pcy;&iecy;&pcy;&lcy;&acy;.
								p
									| &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &Vcy;&ocy;-&vcy;&tcy;&ocy;&rcy;&ycy;&khcy;, &vcy;&ycy; &ncy;&iecy; &ncy;&acy;&jcy;&dcy;&iecy;&tcy;&iecy; &tcy;&acy;&kcy;&ocy;&gcy;&ocy; &bcy;&ocy;&gcy;&acy;&tcy;&ocy;&gcy;&ocy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&iecy;&rcy;&scy;&kcy;&ocy;&gcy;&ocy; &ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&yacy; &ncy;&icy; &vcy; &ocy;&dcy;&ncy;&ocy;&mcy; &dcy;&rcy;&ucy;&gcy;&ocy;&mcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&icy;. &Rcy;&acy;&zcy;&ncy;&ocy;&ocy;&bcy;&rcy;&acy;&zcy;&icy;&iecy; &tscy;&vcy;&iecy;&tcy;&ocy;&vcy; &icy; &rcy;&icy;&scy;&ucy;&ncy;&kcy;&ocy;&vcy; &icy;&dcy;&iecy;&acy;&lcy;&softcy;&ncy;&ocy; &dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy; &icy;&ncy;&tcy;&iecy;&rcy;&softcy;&iecy;&rcy; &lcy;&yucy;&bcy;&ocy;&jcy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ycy;, &zcy;&acy;&gcy;&ocy;&rcy;&ocy;&dcy;&ncy;&ocy;&gcy;&ocy; &dcy;&ocy;&mcy;&acy;, &ocy;&fcy;&icy;&scy;&acy; &icy;&lcy;&icy; &ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&gcy;&ocy; &mcy;&iecy;&scy;&tcy;&acy;.
								p
									| &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &Vcy;-&tcy;&rcy;&iecy;&tcy;&softcy;&icy;&khcy;, &ucy;&kcy;&lcy;&acy;&dcy;&kcy;&acy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy; &ncy;&iecy; &zcy;&acy;&ncy;&icy;&mcy;&acy;&iecy;&tcy; &scy;&tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy;, &kcy;&acy;&kcy; &ucy;&kcy;&lcy;&acy;&dcy;&kcy;&acy; &dcy;&rcy;&ucy;&gcy;&ocy;&gcy;&ocy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;. &Acy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy; &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&mcy;&ucy; &zcy;&acy;&mcy;&kcy;&ucy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&lcy;&iecy;&ncy; &ncy;&acy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&iecy;, &mcy;&iecy;&scy;&tcy;&ocy; &scy;&tcy;&ycy;&kcy;&acy; &bcy;&ucy;&dcy;&iecy;&tcy; &pcy;&rcy;&acy;&kcy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy; &ncy;&iecy; &zcy;&acy;&mcy;&iecy;&tcy;&ncy;&ycy;&mcy;.
								p
									| &Ncy;&ucy; &icy; &scy;&acy;&mcy;&ocy;&iecy; &gcy;&lcy;&acy;&vcy;&ncy;&ocy;&iecy; - &ecy;&tcy;&ocy; &tscy;&iecy;&ncy;&ycy; &ncy;&acy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;. &Ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&acy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy; &ncy;&iecy; &ucy;&dcy;&acy;&rcy;&icy;&tcy; &pcy;&ocy; &vcy;&acy;&shcy;&iecy;&mcy;&ucy; &kcy;&acy;&rcy;&mcy;&acy;&ncy;&ucy;.
								p(align='center')
								h2(style='text-align: left;')
									b
										span(style='color: #b72937;') &Lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &ocy;&tcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; Swiss
									b
										span(style='color: #b72937;') K
									b
										span(style='color: #b72937;') rono
								p(align='center')
									span(style='color: #b72937;')
								p
								span(style='color: #b72937;')
								p
									| &Kcy;&ucy;&pcy;&icy;&tcy;&softcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&iecy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; Swiss Krono. &Vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy; &icy;&mcy;&iecy;&iecy;&tcy;&scy;&yacy; &bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &zcy;&acy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&ucy;&yucy; &scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;. &Tcy;&acy;&kcy;&zhcy;&iecy; &mcy;&ycy; &yacy;&vcy;&lcy;&yacy;&iecy;&mcy;&scy;&yacy; &ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy;&icy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&iecy;&lcy;&yacy;&mcy;&icy;, &icy;&mcy;&iecy;&yucy;&tcy;&scy;&yacy; &scy;&vcy;&ocy;&icy; &scy;&kcy;&lcy;&acy;&dcy; &icy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;, &vcy;&ycy;&scy;&tcy;&acy;&vcy;&kcy;&acy;, &dcy;&iecy;&lcy;&acy;&iecy;&mcy; &pcy;&ocy;&dcy;&bcy;&ocy;&rcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy;, &icy; &pcy;&ocy;&lcy;&ncy;&ocy;&iecy; &scy;&ocy;&pcy;&rcy;&ocy;&vcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&iecy; &ncy;&acy;&shcy;&iecy;&gcy;&ocy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy; &vcy; &pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&iecy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&icy;. &Scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&acy;&iecy;&mcy; &scy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&mcy;&icy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy; &icy; &icy;&mcy;&iecy;&iecy;&mcy; &icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &tscy;&iecy;&ncy;&ocy;&vcy;&ocy;&jcy; &pcy;&ocy;&dcy;&khcy;&ocy;&dcy;.
						.vendors_bottom
							.h3 &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy;
							a.all(href='/vendors/') &Vcy;&scy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy;
							.clr
							.vendors-section-list
								.vendors-section-items
									.vendors-section-item
										a(href='/vendors/arbiton/')
											span.item
												span.image
													img(src='https://kronopol-spb.ru/upload/resize_cache/iblock/345/69_24_1/34587836741690191a338788ee543cb6.jpg' width='49' height='24' alt='Arbiton')
												span.item-title
													| Arbiton
									.vendors-section-item
										a(href='/vendors/krono_swiss_kronopol/')
											span.item
												span.image
													img(src='https://kronopol-spb.ru/upload/resize_cache/iblock/82c/69_24_1/82c1e1416dd26b783ca2e4001374165f.jpg' width='69' height='17' alt='Krono Swiss (Kronopol)')
												span.item-title
													| Krono Swiss (Kronopol)
									.vendors-section-item
										a(href='/vendors/profitex/')
											span.item
												span.image
													img(src='https://kronopol-spb.ru/upload/resize_cache/iblock/a99/69_24_1/a9963988f78ac62a78758afd78b90e60.png' width='69' height='14' alt='Profitex')
												span.item-title
													| Profitex
									.vendors-section-item
										a(href='/vendors/tuplex/')
											span.item
												span.image
													img(src='https://kronopol-spb.ru/upload/resize_cache/iblock/cfa/69_24_1/cfa09da73f021718470e3ca70491af40.jpg' width='32' height='24' alt='Tuplex')
												span.item-title
													| Tuplex
									.clr
					.subscribe_bottom
						.text
							.h3 &Bcy;&ucy;&dcy;&softcy;&tcy;&iecy; &vcy; &kcy;&ucy;&rcy;&scy;&iecy;!
							p &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;, &ocy;&bcy;&zcy;&ocy;&rcy;&ycy; &icy; &acy;&kcy;&tscy;&icy;&icy;
						form(action='/personal/subscribe/')
							input(type='hidden' name='sf_RUB_ID[]' value='1')
							input.text(type='text' name='sf_EMAIL' maxlength='50' value='Email' onfocus="this.value=''" onblur="if (this.value==''){this.value='Email'}")
							button.btn_buy.ppp(type='submit' name='submit' value='Подписаться') &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
			// 'start_frame_cache_already_seen'
			// 'end_frame_cache_already_seen'
			footer
				.center
					.footer_menu_soc_pay
						.footer_menu
							ul
								li
									a(href='/about/details/')
										span &Ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
								li
									a(href='/payments/')
										span &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &ocy;&pcy;&lcy;&acy;&tcy;&ycy;
								li
									a(href='/delivery/')
										span &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&icy;
								li
									a(href='/returns/')
										span &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;&acy;
							ul
								li
									a(href='/catalog/')
										span &Kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy;
								li
									a(href='/catalog/aroma_aurum/')
										span Aroma Aurum
								li
									a(href='/catalog/aroma_aurum/')
										span Cuprum Platinium
								li
									a(href='/catalog/gusto_aurum/')
										span Gusto Aurum
								li
									a(href='/catalog/linea_platinium/')
										span Linea Platinium
								li
									a(href='/catalog/marine_platinium/')
										span Marine Platinium
								li
									a(href='/catalog/mars_platinium/')
										span Mars Platinium
								li
									a(href='/catalog/route_des_vins_platinium/')
										span Route Des Vins Platinium
								li
									a(href='/catalog/senso_aurum/')
										span Senso Aurum
								li
									a(href='/catalog/sound_aurum/')
										span Sound Aurum
								li
									a(href='/catalog/venus_platinium/')
										span Venus Platinium
								li
									a(href='/catalog/vision_aurum/')
										span Vision Aurum
							ul
								li
									a(href='javascript:void(0)')
										span &Pcy;&rcy;&iecy;&scy;&scy;-&tscy;&iecy;&ncy;&tcy;&rcy;
								li
									a(href='javascript:void(0)')
										span &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
								li
									a(href='javascript:void(0)')
										span &Fcy;&ocy;&tcy;&ocy;&gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy;
								li
									a(href='javascript:void(0)')
										span &Vcy;&icy;&dcy;&iecy;&ocy;&gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy;
							ul
								li
									a(href='/about/')
										span &Ocy; &Kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
								li
									a(href='/about/responses/')
										span &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy; &ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
								li
									a(href='/about/details/')
										span &Rcy;&iecy;&kcy;&vcy;&icy;&zcy;&icy;&tcy;&ycy;
						.footer_soc_pay
							.footer_soc
								.h3 &Pcy;&rcy;&icy;&scy;&ocy;&iecy;&dcy;&icy;&ncy;&yacy;&jcy;&tcy;&iecy;&scy;&softcy;
								ul
									li(style='background:#4d739c')
										a(target='_blank' href='https://vk.com/tovarmarket' title='Vkontakte' rel='nofollow')
											i.fa.fa-vk
							.footer_pay
								.payment_methods
									.h3 &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &ocy;&pcy;&lcy;&acy;&tcy;&ycy;
									ul
										li
											a(href='javascript:void(0)' title='Яндекс.Деньги')
												img(src='https://kronopol-spb.ru/upload/iblock/f30/f3043fc2480ab9acf376af1c0bc45141.png' width='66' height='30' alt='Яндекс.Деньги')
										li
											a(href='javascript:void(0)' title='Сбербанк')
												img(src='https://kronopol-spb.ru/upload/iblock/db9/db9987bc85d31df0ecfd9f6579c7a8c7.png' width='66' height='30' alt='Сбербанк')
										li
											a(href='javascript:void(0)' title='Наличный расчет')
												img(src='https://kronopol-spb.ru/upload/iblock/5b8/5b8f7738a4809c6f6d566329fecbe082.png' width='66' height='30' alt='Наличный расчет')
					.footer-bottom
						.footer-bottom__blocks
							.footer-bottom__block-wrap.fb-left
								.footer-bottom__block.footer-bottom__copyright
									| &copy; &Icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;-&mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; &lcy;&acy;&mcy;&icy;&ncy;&acy;&tcy;&acy; Kronopol, 2019
									br
									| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Rcy;&ocy;&scy;&scy;&icy;&yacy;, &Scy;&Pcy;&bcy;, &pcy;&rcy;. &Dcy;&acy;&lcy;&softcy;&ncy;&iecy;&vcy;&ocy;&scy;&tcy;&ocy;&chcy;&ncy;&ycy;&jcy; 14, 1 &ecy;&tcy;&acy;&zhcy;, &scy;&iecy;&kcy;&tscy;&icy;&yacy; 101
								.footer-bottom__block.footer-bottom__links
									ul
										li
											a(href='/contacts/')
												span &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
										li
											a(href='/map/')
												span &Kcy;&acy;&rcy;&tcy;&acy; &scy;&acy;&jcy;&tcy;&acy;
						.footer-bottom__blocks
							.footer-bottom__block-wrap.fb-right
								.footer-bottom__block.footer-bottom__counter
								.footer-bottom__block.footer-bottom__counter
								.footer-bottom__block.footer-bottom__design
					.foot_panel_all
						.foot_panel
							.foot_panel_1
								#kabinet.kabinet
									// 'start_frame_cache_kabinet'
									a.login_anch(href='javascript:void(0)' title='Войти' onclick='OpenLoginPopup();')
										i.fa.fa-user
										span &Vcy;&ocy;&jcy;&tcy;&icy;
									a.register(href='/personal/profile/?register=yes' title='Регистрация' rel='nofollow')
										i.fa.fa-user-plus
										span &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
									script(type='text/javascript').
										if(!window.OpenLoginPopup) {
											function OpenLoginPopup() {
												BX.LoginSet =
													{
														popup: null,
														arParams: {}
													};
												BX.LoginSet.popup = BX.PopupWindowManager.create("login", null, {
													autoHide: true,
													offsetLeft: 0,
													offsetTop: 0,
													overlay: {
														opacity: 100
													},
													draggable: false,
													closeByEsc: false,
													closeIcon: { right : "-10px", top : "-10px"},
													titleBar: false,
													content: "<div class='popup-window-wait'><i class='fa fa-spinner fa-pulse'></i></div>",
													events: {
														onAfterPopupShow: function()
														{
															if(!BX("loginForm")) {
																BX.ajax.post(
																	"https://kronopol-spb.ru/local/templates/elektro_flat/components/bitrix/system.auth.form/login/popup.php",
																	{
																		arParams: {'RESULT':{'BACKURL':'/index.php','~BACKURL':'/index.php','ERROR':'','~ERROR':false,'SHOW_ERRORS':'N','~SHOW_ERRORS':'N','RND':'6zOYVN','~RND':'6zOYVN','STORE_PASSWORD':'Y','~STORE_PASSWORD':'Y','NEW_USER_REGISTRATION':'Y','~NEW_USER_REGISTRATION':'Y','AUTH_URL':'/index.php?login=yes','~AUTH_URL':'/index.php?login=yes','AUTH_REGISTER_URL':'/personal/profile/?register=yes&amp;backurl=%2Findex.php','~AUTH_REGISTER_URL':'/personal/profile/?register=yes&backurl=%2Findex.php','AUTH_FORGOT_PASSWORD_URL':'/personal/profile/?forgot_password=yes&amp;backurl=%2Findex.php','~AUTH_FORGOT_PASSWORD_URL':'/personal/profile/?forgot_password=yes&backurl=%2Findex.php','AUTH_LOGIN_URL':'/index.php?login_form=yes','~AUTH_LOGIN_URL':'/index.php?login_form=yes','FORM_TYPE':'login','GET':[],'POST':[],'~LOGIN_COOKIE_NAME':'BITRIX_SM_LOGIN','~USER_LOGIN':'','LAST_LOGIN':'','USER_LOGIN':'','~LAST_LOGIN':'','AUTH_SERVICES':{'Livejournal':{'ID':'Livejournal','CLASS':'CSocServLivejournal','NAME':'Livejournal','ICON':'livejournal','__sort':'4','__active':true,'FORM_HTML':'\\n<span class=\"bx-ss-icon livejournal\"><\/span>\n<input type=\"text\" name=\"OPENID_IDENTITY_LIVEJOURNAL\" value=\"\" size=\"20\" />\n<span>.livejournal.com<\/span>\n<input type=\"hidden\" name=\"sessid\" id=\"sessid\" value=\"d9d3415e603f6d5e0bd7ae424e39bdae\" />\n<input type=\"hidden\" name=\"auth_service_error\" value=\"\" />\n<input type=\"submit\" class=\"button\" name=\"\" value=\"Войти\" />\n'},'MailRuOpenID':{'ID':'MailRuOpenID','CLASS':'CSocServMailRu','NAME':'Mail.Ru','ICON':'openid-mail-ru','__sort':'5','__active':true,'FORM_HTML':'\n<span class=\"bx-ss-icon openid-mail-ru\"><\/span>\n<input type=\"text\" name=\"OPENID_IDENTITY_MAILRU\" value=\"\" size=\"20\" />\n<span>@mail.ru<\/span>\n<input type=\"hidden\" name=\"sessid\" id=\"sessid_1\" value=\"d9d3415e603f6d5e0bd7ae424e39bdae\" />\n<input type=\"hidden\" name=\"auth_service_error\" value=\"\" />\n<input type=\"submit\" class=\"button\" name=\"\" value=\"Войти\" />\n'},'Liveinternet':{'ID':'Liveinternet','CLASS':'CSocServLiveinternet','NAME':'Liveinternet','ICON':'liveinternet','__sort':'6','__active':true,'FORM_HTML':'\n<span class=\"bx-ss-icon liveinternet\"><\/span>\n<span>liveinternet.ru/users/<\/span>\n<input type=\"text\" name=\"OPENID_IDENTITY_LIVEINTERNET\" value=\"\" size=\"15\" />\n<input type=\"hidden\" name=\"sessid\" id=\"sessid_2\" value=\"d9d3415e603f6d5e0bd7ae424e39bdae\" />\n<input type=\"hidden\" name=\"auth_service_error\" value=\"\" />\n<input type=\"submit\" class=\"button\" name=\"\" value=\"Войти\" />\n'},'Blogger':{'ID':'Blogger','CLASS':'CSocServBlogger','NAME':'Blogger','ICON':'blogger','__sort':'7','__active':true,'FORM_HTML':'\n<span class=\"bx-ss-icon blogger\"><\/span>\n<input type=\"text\" name=\"OPENID_IDENTITY_BLOGGER\" value=\"\" size=\"20\" />\n<span>.blogspot.com<\/span>\n<input type=\"hidden\" name=\"sessid\" id=\"sessid_3\" value=\"d9d3415e603f6d5e0bd7ae424e39bdae\" />\n<input type=\"hidden\" name=\"auth_service_error\" value=\"\" />\n<input type=\"submit\" class=\"button\" name=\"\" value=\"Войти\" />\n'},'OpenID':{'ID':'OpenID','CLASS':'CSocServOpenID','NAME':'OpenID','ICON':'openid','__sort':'8','__active':true,'FORM_HTML':'\n<span class=\"bx-ss-icon openid\"><\/span>\n<span>OpenID:<\/span>\n<input type=\"text\" name=\"OPENID_IDENTITY_OPENID\" value=\"\" size=\"30\" />\n<input type=\"hidden\" name=\"sessid\" id=\"sessid_4\" value=\"d9d3415e603f6d5e0bd7ae424e39bdae\" />\n<input type=\"hidden\" name=\"auth_service_error\" value=\"\" />\n<input type=\"submit\" class=\"button\" name=\"\" value=\"Войти\" />\n'}},'CURRENT_SERVICE':false,'SECURE_AUTH':false,'CAPTCHA_CODE':false},'MESS':{'AUTH_LOGIN':'Логин','AUTH_PASSWORD':'Пароль','LOGIN':'Войти','AUTH_FORGOT_PASSWORD':'Напомнить пароль','AUTH_REGISTRATION':'Регистрация','LOGIN_AS_USER':'Войти как пользователь:'}}									},
																	BX.delegate(function(result)
																		{
																			this.setContent(result);
																		},
																		this)
																);
															}
														}
													}
												});
												BX.addClass(BX("login"), "pop-up login");
												close = BX.findChildren(BX("login"), {className: "popup-window-close-icon"}, true);
												if(!!close && 0 < close.length) {
													for(i = 0; i < close.length; i++) {
														close[i].innerHTML = "<i class='fa fa-times'></i>";
													}
												}
												BX("kabinet").appendChild(BX("popup-window-overlay-login"));
												BX("kabinet").appendChild(BX("login"));
												BX.LoginSet.popup.show();
											}
										}
									// 'end_frame_cache_kabinet'
								.compare_line
									// 'start_frame_cache_compare'
									a(href='/catalog/compare/?action=COMPARE' title='Сравнение' rel='nofollow')
										i.fa.fa-bar-chart
										span.text &Scy;&rcy;&acy;&vcy;&ncy;&iecy;&ncy;&icy;&iecy;
										span.qnt_cont
											span.qnt 0
									// 'end_frame_cache_compare'
								.delay_line
									// 'start_frame_cache_delay'
									a(href='/personal/cart/?delay=Y' title='Отложенные' rel='nofollow')
										i.fa.fa-heart
										span.text &Ocy;&tcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&ncy;&ycy;&iecy;
										span.qnt_cont
											span.qnt
												| 0
									// 'end_frame_cache_delay'
							.foot_panel_2
								#cart_line1.cart_line
									// 'start_frame_cache_cart_line'
									a.cart(href='/personal/cart/' title='Моя корзина' rel='nofollow')
										i.fa.fa-shopping-cart
										span.text &Mcy;&ocy;&yacy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
										span.qnt_cont
											span.qnt 0
									span.sum_cont
										span.sum(data-sum='0' data-separator=' ' data-decimal='0' data-dec-point='.')
											span#cartCounter 0
											span.curr  &rcy;&ucy;&bcy;.
									.oformit_cont
										.btn_buy.oformit.dsbl &Ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&softcy;
									// 'end_frame_cache_cart_line'

