
@import "scss/var";

@import "scss/mixins";

@import "scss/fonts";

@import "scss/print";

@import "scss/normalize";

@import "../../node_modules/slick-carousel/slick/slick.scss";


$plyr-color-main: $colorBrown;
$plyr-color-gunmetal: #2f343d;
$plyr-color-fiord: #4f5b5f;
$plyr-color-lynch: #6b7d85;
$plyr-color-heather: #b7c5cd;
@import "../../node_modules/plyr/src/sass/plyr.scss";

@import "scss/scrollbar";

@import "scss/form";

@import "scss/nav";

@import "scss/global";

@import "scss/main";

@import "scss/popup";