doctype html
html(lang="ru")
	head
		link(rel="shortcut icon" type="image/x-icon" href="http://orac-spb.ru/local/templates/elektro_flat/favicon.ico")
		link(rel="apple-touch-icon" sizes="57x57" href="http://orac-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-114.png")
		link(rel="apple-touch-icon" sizes="114x114" href="http://orac-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-114.png")
		link(rel="apple-touch-icon" sizes="72x72" href="http://orac-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-144.png")
		link(rel="apple-touch-icon" sizes="144x144" href="http://orac-spb.ru/local/templates/elektro_flat/images/apple-touch-icon-144.png")
		meta(name="wmail-verification" content="2ef0f9db8cf8bfeace6c398143580e17")
		title Интернет-магазин лепнины и декора Orac Decor
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="robots" content="index, follow")
		meta(name="keywords" content="карниз Orac,Orac Decor, плинтус Orac, молдинг Orac")
		meta(name="description" content="Фирменный интернет-магазин продукции Orac Decor")
		link(href="http://orac-spb.ru/bitrix/cache/css/s1/elektro_flat/kernel_main/kernel_main.css?153693535544417" type="text/css" rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext" type="text/css" rel="stylesheet")
		link(href="http://orac-spb.ru/bitrix/cache/css/s1/elektro_flat/template_6abfe4124c90ef29b5803cc51557141a/template_6abfe4124c90ef29b5803cc51557141a.css?1537345715420085" type="text/css" data-template-style="true" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		.body.clvh
			.page-wrapper.bg-repeat-x.bg-repeat-y.bg-fixed
				.top-menu
					.center
						ul.store-horizontal
							li.active
								a(href="/") Главная
							li
								a(href="/catalog/") Каталог
							li
								a(href="/news/") Новости
							li
								a(href="/reviews/") Обзоры
							li
								a(href="/payments/") Оплата
							li
								a(href="/delivery/") Доставка
							li.dropdown
								a(href="/about/") О Компании
								ul.dropdown-menu
									li
										a(href="/about/details/") Реквизиты
							li
								a(href="/contacts/") Контакты
				header
					.center
						.header_1
							.logo
								a(href="/")
									img(width="192" src="http://orac-spb.ru/bitrix/templates/elektro_flat_old/images/logo-orac_.png" height="93")
						.header_2
							#altop_search.form-box
								form(action="/catalog/")
									i.fa.fa-search
									input#title-search-input(type="text" name="q" maxlength="50" autocomplete="off" placeholder="Поиск по товарам и категориям" value="")
									input(type="submit" name="submit" value="Найти")
						.header_3
							.schedule
								p.time
									i.fa.fa-clock-o
									| Время работы:
								p
									| ПН-ПТ 11:00 - 20:00
									br
									|                            СБ-ВС 11:00 - 20:00
						.header_4
							.contacts
								// 'start_frame_cache_geolocation'
								.telephone
									a(href="wtai://wp/mc;+78122401126")
										p
											i.fa.fa-phone
											| +7
											|                            (812) 240-11-26
								// 'end_frame_cache_geolocation'
								a#callbackAnch.btn_buy.apuo.callback_anch(href="javascript:void(0)")
									span.cont
										i.fa.fa-phone
										span.text Заказать звонок
				.top-catalog
					.center
						ul.left-menu
							li
								a(href="/catalog/dekor_pola/") Декор пола
							li
								a(href="/catalog/dekor_potolka/") Декор потолка
							li
								a(href="/catalog/dekor_sten/") Декор стен
							li
								a(href="/catalog/osveshchenie/") Освещение
							li
								a(href="/catalog/elementy_dekora/") Элементы декора
							li
								a(href="/catalog/kley/") Клей
				.top_panel
					.center
						.panel_1
							ul.section-vertical
								li
									a.showsection(href="javascript:void(0)")
										i.fa.fa-bars
										span Каталог
									.catalog-section-list(style="display:none;")
										.catalog-section
											.catalog-section-title(style="margin:0px 0px 2px 0px;")
												a(href="/catalog/dekor_pola/") Декор пола
										.catalog-section
											.catalog-section-title(style="margin:0px 0px 2px 0px;")
												a(href="/catalog/dekor_potolka/") Декор потолка
										.catalog-section
											.catalog-section-title(style="margin:0px 0px 2px 0px;")
												a(href="/catalog/dekor_sten/") Декор стен
										.catalog-section
											.catalog-section-title(style="margin:0px 0px 2px 0px;")
												a(href="/catalog/osveshchenie/") Освещение
										.catalog-section
											.catalog-section-title(style="margin:0px 0px 2px 0px;")
												a(href="/catalog/elementy_dekora/") Элементы декора
										.catalog-section
											.catalog-section-title(style="margin:0px 0px 2px 0px;")
												a(href="/catalog/kley/") Клей
						.panel_2
							ul.store-vertical
								li
									a.showsubmenu(href="javascript:void(0)") Меню
									ul.submenu(style="display:none;")
										li
											a.root-item-selected(href="/") Главная
										li
											a.root-item(href="/catalog/") Каталог
										li
											a.root-item(href="/news/") Новости
										li
											a.root-item(href="/reviews/") Обзоры
										li
											a.root-item(href="/payments/") Оплата
										li
											a.root-item(href="/delivery/") Доставка
										li
											span.text
												a.root-item(href="/about/") О Компании
												span.showchild
													i.fa.fa-plus-circle
													i.fa.fa-minus-circle
											ul(style="display:none;")
												li
													a.root-item(href="/about/details/") Реквизиты
										li
											a.root-item(href="/contacts/") Контакты
						.panel_3
							ul.contacts-vertical
								li
									a.showcontacts(href="javascript:void(0)")
										i.fa.fa-phone
						.panel_4
							ul.search-vertical
								li
									a.showsearch(href="javascript:void(0)")
										i.fa.fa-search
				.content-wrapper
					.center
						.content
							.left-column
								block aside

								ul.new_leader_disc
									li
										a.new(href="/catalog/newproduct/")
											span.icon New
											span.text Новинки
									li
										a.hit(href="/catalog/saleleader/")
											span.icon Хит
											span.text Хиты продаж
									li
										a.discount(href="/catalog/discount/")
											span.icon %
											span.text Скидки
								.vendors
									.h3 Производители
									.vendors-list
										p.vendors-item
											a(rel="nofollow" href="/vendors/orac_decor/") Orac Decor
									a.all(href="/vendors/") Все производители
								.subscribe
									.h3 Будьте в курсе!
									p Новости, обзоры и акции
									form(action="/personal/subscribe/")
										input(type="hidden" name="sf_RUB_ID[]" value="1")
										input.text(type="text" name="sf_EMAIL" maxlength="50" value="Email" onfocus="this.value=''" onblur="if (this.value==''){this.value='Email'}")
										button.btn_buy.ppp(type="submit" name="submit" value="Подписаться")
											| Подписаться
							.workarea
								block content

				footer
