header.header
	.inner
		.header__logo: img(src='img/logo.png')
	.header__contact
		.header__contact-phone +7 (812) 240-11-26
		.header__contact-btn
			a.btn.btn_fill(href='#') Перейти в инт.магазин
	nav.nav
		.nav__overlay
		.nav__handler: include ../../img/svg/menu_handler.svg
		.nav__content
			.nav__top
				.nav__top-btn
					.btn.btn_fill Перейти в инт.магазин

			.nav__menu
				a.nav__menu-item(href='#kv', data-section='kv').is-active: span Главная
				a.nav__menu-item(href='#welcome', data-section='welcome'): span О компании
				a.nav__menu-item(href='#advantage', data-section='advantage'): span Преимущества
				a.nav__menu-item(href='#example', data-section='example'): span Примеры работ
				a.nav__menu-item(href='#videos', data-section='videos'): span Видео презентации
				a.nav__menu-item(href='#contacts', data-section='contacts'): span Контакты

			.nav__contact
				.nav__contact-phone +7 (812) 240-11-26
				.nav__contact-btn
					.btn.btn_fill(data-popup-open='.popup_call') Заказать звонок
