.popup.popup_call
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Заказать звонок
				.popup__form
					form.form(autocomplete='off', action='/', method='post')
						.form__field
							.form__input
								input(type='text', name='username', data-require='true')
								span.placeholder Ваше имя
								span.form__input-clear
							.form__message

						.form__field
							.form__input
								input(type='tel', name='userphone', data-mask='+7 (999) 999-99-99' data-require='true')
								span.placeholder Ваш номер телефона
								span.form__input-clear
							.form__message

						.form__field
							.form__input
								input(type='text', readonly).form__input-text
								input(type='text', name='usertime', data-require='true').form__input-value
								span.placeholder Удобное время для звонка
								span.form__input-arrow
								.form__select
									.form__select-item(data-value='1') Как можно скорее
									.form__select-item(data-value='2') Утром
									.form__select-item(data-value='3') Вечером
									.form__select-item(data-value='4') Не звоните, приходите
							.form__message

						.form__field
							.form__input
								label
									input(type='checkbox', name='checkbox', data-require='true')
									.form__label Отправляя данные, даю #[a(href='#', data-popup-open=".popup_rights") Cогласие на их обработку]
							.form__message

						.form__field.form__field_submit
							.form__input
								input(type='submit', value='Заказать звонок').btn.btn_fill

.popup.popup_rights
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__return(data-popup-open='.popup_call')
			.popup__content
				.popup__title Согласие на обработку персональных данных
				.popup__text.m_custom_ccrollbar
					ul
						li Принимая условия настоящего Соглашения, пользователь даёт своё согласие на сбор, хранение и обработку своих персональных данных, указанных путём заполнения веб-форм на сайте. Под персональными данными понимается любая информация, относящаяся к прямо или косвенно определённому или определяемому физическому лицу (гражданину).
						li Основанием для обработки персональных данных являются: статья 24 Конституции РФ и статья 6 Федерального закона № 152-ФЗ «О персональных данных» с дополнениями и изменениями.
						li В ходе обработки с персональными данными будут совершены следующие операции: сбор, хранение, уточнение, передача, блокирование, удаление, уничтожение — все упомянутые действия только в целях, указанных в п. 2 настоящего Соглашения.
						li Компания обязуется не передавать полученную от Пользователя информацию третьим лицам. Не считается нарушением предоставление персональных данных третьим лицам, действующим на основании договора с Компанией, для исполнения обязательств перед Пользователем и только в рамках настоящего Соглашения.
						li Персональные данные хранятся и обрабатываются до завершения всех необходимых процедур либо до ликвидации Компании.
						li Согласие может быть отозвано Пользователем или его представителем путём направления письменного заявления в Компанию по электронному адресу. Пользователь также может отказаться от получения электронных сообщений, отправив письмо с просьбой на вышеупомянутый адрес.
						li Пользователь принимает политику использования файлов cookies, используемую на Сайте, и даёт согласие на получение информации об IP-адресе и иных сведений о его активности на Сайте. Данная информация не используется для установления личности Пользователя.
					.popup__btn
						.btn(data-popup-open='.popup_call') Ясненько, понятненько


.popup.popup_product
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__product
					.popup__product-images
						.popup__product-img: img(src='img/product/elements/w104.png')
						.popup__product-img: img(src='img/product/elements/w104_1.png')
					.popup__product-aside
						.popup__product-info
							.popup__product-title W104 KILT
							.popup__product-subtitle Размеры
							.popup__product-text 45 x 3,6 x 45 cm Purotouch®
							.popup__product-subtitle PUROTOUCH ®
							.popup__product-text Высококачественный полиуретан высокой плотности
						.popup__product-price 2 021,00 руб./ шт
						.popup__product-btn
							a(href='#').btn.btn_fill.btn_big Перейти в интернет-магазин


.popup.popup_video
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__video
					video#player
					.popup__video-control
						.popup__video-control-arrow.popup__video-control-arrow_prev: include ../../img/svg/arrow_left.svg
						.popup__video-control-arrow.popup__video-control-arrow_next: include ../../img/svg/arrow_right.svg


.popup.popup_gallery
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__gallery
					.popup__gallery-control
					.popup__gallery-list
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/1700x2000')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/2500x2000')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/1800x2000')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/2800x2000')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/3000x2000')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/1800x2300')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/2300x1800')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/2500x1800')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/800x1200')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/3000x2500')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/2000x1500')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
						.popup__gallery-item
								.popup__gallery-image: img(src='https://via.placeholder.com/1800x2200')
								.popup__gallery-info
									.popup__gallery-title La Rambla, Испания
									.popup__gallery-text
										p Это один из самых уютных и популярных ресторанов на улице Рамбла в городе Сабадель.
										p Его проект был выполнен известным дизайнером интерьера из Барселоны. Дизайнер постарался максимально сохранить атмосферу старинного дома, разработав интерьер в стиле «винтаж» и умело сочетая многочисленные возможности продукции Orac Decor®. Комплект окон и дверей «под старину» органично вписался в интерьер ресторана.
										p Для создания приятной, расслабляющей атмосферы служит непрямое освещение.
					.popup__gallery-preview
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')
						.popup__gallery-thumbnail: img.obj-fit(src='https://via.placeholder.com/50x50')




