include mixin

block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content='http://euro-travel-example.com/index.htm')/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/
		//-include favicon
		//-link(rel='stylesheet', href='/css/style.css')/

		block head
		// указать ключ для карты
		script(async src='https://maps.googleapis.com/maps/api/js?key=')
		script.
			window.productAction = 'data/product.html'
			//-window.googleKey = 'AIzaSyDwwQF-OMFibwzs__ShDkmnHlCbpMy72Do';
	body
		.wrapper
			include header
			.website
				block content

		//-include footer

		include popups


		block append