//@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&subset=cyrillic');

$fontsPath: '../fonts/';

@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather Light'), local('Merriweather-Light'), url($fontsPath + 'merriweather/merriweatherlight.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatherlight.woff') format('woff'), url($fontsPath + 'merriweather/merriweatherlight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather Light Italic'), local('Merriweather-LightIt'), url($fontsPath + 'merriweather/merriweatherlightitalic.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatherlightitalic.woff') format('woff'), url($fontsPath + 'merriweather/merriweatherlightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather Regular'), local('Merriweather-Regular'), url($fontsPath + 'merriweather/merriweatherregular.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatherregular.woff') format('woff'), url($fontsPath + 'merriweather/merriweatherregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather Italic'), local('Merriweather-Italic'), url($fontsPath + 'merriweather/merriweatheritalic.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatheritalic.woff') format('woff'), url($fontsPath + 'merriweather/merriweatheritalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather Bold'), local('Merriweather-Bold'), url($fontsPath + 'merriweather/merriweatherbold.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatherbold.woff') format('woff'), url($fontsPath + 'merriweather/merriweatherbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url($fontsPath + 'merriweather/merriweatherbolditalic.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatherbolditalic.woff') format('woff'), url($fontsPath + 'merriweather/merriweatherbolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather UltraBold'), local('Merriweather-UltraBold'), url($fontsPath + 'merriweather/merriweatherultrabold.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatherultrabold.woff') format('woff'), url($fontsPath + 'merriweather/merriweatherultrabold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather UltraBold Italic'), local('Merriweather-UltraBdIt'), url($fontsPath + 'merriweather/merriweatherultrabolditalic.woff2') format('woff2'), url($fontsPath + 'merriweather/merriweatherultrabolditalic.woff') format('woff'), url($fontsPath + 'merriweather/merriweatherultrabolditalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}



// Open Sans

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light'), local('OpenSans-Light'), url($fontsPath + 'opensans/opensanslight.woff2') format('woff2'), url($fontsPath + 'opensans/opensanslight.woff') format('woff'), url($fontsPath + 'opensans/opensanslight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url($fontsPath + 'opensans/opensanslightitalic.woff2') format('woff2'), url($fontsPath + 'opensans/opensanslightitalic.woff') format('woff'), url($fontsPath + 'opensans/opensanslightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), local('OpenSans'), url($fontsPath + 'opensans/opensans.woff2') format('woff2'), url($fontsPath + 'opensans/opensans.woff') format('woff'), url($fontsPath + 'opensans/opensans.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url($fontsPath + 'opensans/opensansitalic.woff2') format('woff2'), url($fontsPath + 'opensans/opensansitalic.woff') format('woff'), url($fontsPath + 'opensans/opensansitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url($fontsPath + 'opensans/opensanssemibold.woff2') format('woff2'), url($fontsPath + 'opensans/opensanssemibold.woff') format('woff'), url($fontsPath + 'opensans/opensanssemibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url($fontsPath + 'opensans/opensanssemibolditalic.woff2') format('woff2'), url($fontsPath + 'opensans/opensanssemibolditalic.woff') format('woff'), url($fontsPath + 'opensans/opensanssemibolditalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url($fontsPath + 'opensans/opensansbold.woff2') format('woff2'), url($fontsPath + 'opensans/opensansbold.woff') format('woff'), url($fontsPath + 'opensans/opensansbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url($fontsPath + 'opensans/opensansbolditalic.woff2') format('woff2'), url($fontsPath + 'opensans/opensansbolditalic.woff') format('woff'), url($fontsPath + 'opensans/opensansbolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url($fontsPath + 'opensans/opensansextrabold.woff2') format('woff2'), url($fontsPath + 'opensans/opensansextrabold.woff') format('woff'), url($fontsPath + 'opensans/opensansextrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url($fontsPath + 'opensans/opensansextrabolditalic.woff2') format('woff2'), url($fontsPath + 'opensans/opensansextrabolditalic.woff') format('woff'), url($fontsPath + 'opensans/opensansextrabolditalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
