
$fieldHeight: $formHeight;
$borderRadius: $formBorderRadius;
$inputPadding: 0 0;


.placeholder{
	position: absolute;
	color: $formColor;
	top: 0;
	right: 100%;
	left: 0;
	text-align: right;
	line-height: $fieldHeight;
	cursor: default;
	pointer-events: none;

	white-space: nowrap;
	@include box-sizing();
	@include transition(all 0.3s ease);
	padding: $inputPadding;

	.f-error &{
		color: $colorError;
	}

	input:focus ~ &,
	textarea:focus ~ &,

	.f-filled &{
		//right: 0;
		font-size: 12px;
		top: -25px;
	}
}



.form{
	font-size: 0;

	&__field{
		position: relative;
		margin-bottom: 36px;
		font-size: $fontSize;

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $colorError!important;
				}
			}
		}

	}

	&__message{
		display: none;
		top: 50%;
		position: absolute;
		right: 60px;
		font-size: 12px;
		transform: translateY(-50%);

		.f-message &{
			display: block;
		}

		.f-error &{
			color: $colorError;
		}
	}

	&__label{
		position: relative;

		a{
			color: $colorBrown;
		}
	}

	&__input{
		position: relative;

		textarea, input{

		}


		input{

			&[type="email"],
			&[type="password"],
			&[type="tel"],
			&[type="text"]{
				@include box-sizing();
				width: 100%;
				display: block;
				color: $formColor;
				line-height: ($fieldHeight - 2px);
				height: $fieldHeight;
				border-bottom: 1px solid $colorBorder;
				@include border-radius($borderRadius);
				background: transparent;
				@include transition('border 0.3s ease');
				padding: $inputPadding;

				&:focus{
					border-color: $colorFocus;
					color: $colorFocus;

					& ~ .form__select{
						opacity: 1;
						pointer-events: all;
					}
				}

				.f-error &{
					border-color: $colorError;
				}

				&:hover{
					border-color: $colorFocus;
				}
			}


			&[type="submit"]{
				//@include box-sizing();
				//background: $colorFocus;
				//color: #fff;
				//cursor: pointer;
				//width: 100%;
				//display: block;
				//
				//&:not(.btn){
				//	line-height: $fieldHeight;
				//	@include border-radius($borderRadius);
				//}
				//
				//&:hover{
				//
				//}
			}

			&[type="checkbox"]{
				opacity: 0;
				position: absolute;

				&:checked{
					& ~ {
						.form__label{

							&:before{
								background: url("../img/svg/checkbox.svg") no-repeat 50% 50%;
								background-size: 23px 23px;
							}
						}
					}
				}

				& ~ {
					.form__label{
						padding: 7px 0 7px 42px;
						font-size: 12px;

						&:before{
							content: '';
							width: 23px;
							height: 23px;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							@include border-radius($borderRadius);
							background: transparent;
							border: 2px solid $colorBorder;
							box-sizing: border-box;

							.f-error &{
								border-color: $colorError;
							}
						}
					}
				}
			}

			&[type="radio"]{
				opacity: 0;
				position: absolute;

				&:checked{
					& ~ {
						.form__label{

							&:before{
								background-color: green;
							}
						}
					}
				}

				& ~ {
					.form__label{
						padding: 7px 0 7px 42px;

						&:before{
							content: '';
							width: 28px;
							height: 28px;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							@include border-radius(100px);
							background: #fff;
							border: 1px solid $colorBorder;

							.f-error &{
								border-color: $colorError;
							}
						}
					}
				}
			}
		}

		&-value{
			display: none!important;
		}

		&-clear{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 26px;
				margin-top: -1px;
				margin-left: -13px;

			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}

			&:hover{
				&:before,
				&:after {
					background-color: $colorBrown;
				}
			}

			.f-filled &{
				opacity: 1;
				pointer-events: all;
			}
		}

		&-arrow{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 15px;
				margin-top: -1px;

			}
			&:before {
				transform: rotate(45deg);
				margin-left: -13px;

				input:focus ~ &{
					transform: rotate(-45deg);
					background: $colorBrown;
				}
			}
			&:after {
				transform: rotate(-45deg);
				margin-left: -4px;

				input:focus ~ &{
					transform: rotate(45deg);
					background: $colorBrown;
				}
			}

			&:hover{
				&:before,
				&:after {
					background-color: $colorBrown;
				}
			}
		}
	}

	&__select{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #333333;
		z-index: 1;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;

		&-item{
			cursor: pointer;
			padding: 13px 20px 15px;

			&:hover{
				background-color: rgba($colorBlack, 0.8);
				color: $colorBrown;
			}

			&.is-active{
				color: $colorBrown;
			}
		}
	}
}

