$footerHeight: 0;

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 12px;
	width: 100%;
	height: 100%;

	min-width: 1150px;


	@include breakPoint($breakPoint){
		font-size: 14px;
	}
	&.is-popup-show{
		overflow: hidden;
	}

	&.oh{
		overflow: hidden;
	}

}


.btn{
	height: 40px;
	line-height: 36px;
	border-radius: 100px;
	padding: 0 30px;
	font-size: 14px;
	background: #fff;
	color: #000;
	cursor: pointer;
	box-sizing: border-box;
	border: 2px solid $colorBrown;
	display: inline-block;
	vertical-align: middle;
	user-select: none;

	&_fill{
		background: $colorBrown;
	}

	&_big{
		height: 60px;
		line-height: 56px;
		padding: 0 30px;
		font-size: 20px;
	}
}


.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}


.is-hidden{
	display: none!important;
}

.header {
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 35px;
	box-sizing: border-box;
	z-index: $zHeader;

	&__logo{
		width: 96px;
		height: 48px;
		img{
			width: 100%;
			height: 100%;
		}
	}

	&__contact{
		position: absolute;
		top: 40px;
		right: 40px;

		&-phone{
			display: inline-block;
			vertical-align: middle;
			margin-right: 25px;
			font-size: 16px;
		}

		&-btn{
			display: inline-block;
			vertical-align: middle;
			margin-right: 25px;
		}
	}
}


.website {
}


.inner{
	width: 956px;
	margin: 0 auto;

	@include breakPoint($breakPoint){
		width: 1464px;
	}
}



.obj-fit{
	background: no-repeat 50% 50%;
	background-size: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	//object-position: 50% 50%;
}










.is-loading{
	position: relative;

	&:before{
		content: '';
		width: 40px;
		height: 40px;
		background: url("../img/loading.svg") no-repeat 50% 50%;
		background-size: 40px 40px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}




.footer {



	position: relative;
	margin-top: (- $footerHeight);
	height: $footerHeight;
}
