

.kv{

	&__top{
		height: 445px;
		position: relative;

		@include breakPoint($breakPoint){
			height: 670px;
		}
	}

	.inner{
		position: relative;
		z-index: 1;
	}

	&__bg{

		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;

		&-item{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: opacity 1s ease;
			opacity: 0;

			&.is-active{
				opacity: 1;
			}
		}
	}

	&__title{
		display: inline-block;
		vertical-align: bottom;
		font-size: 39px;
		@extend %fontTitle;
		height: 445px;
		position: relative;
		box-sizing: border-box;
		padding-top: 190px;
		line-height: 1.3;

		@include breakPoint($breakPoint){
			font-size: 56px;
			padding-top: 225px;
			height: 670px;
		}

		span{
			color: $colorBrown;
		}
	}

	&__menu{
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 25px;

		&-item{
			display: inline-block;
			vertical-align: bottom;
			font-size: 16px;
			@extend %fontTitle;
			margin-right: 35px;
			cursor: pointer;
			user-select: none;

			@include breakPoint($breakPoint){
				font-size: 20px;
				margin-right: 60px;
			}

			&.is-active{
				color: $colorBrown;
			}
		}
	}

	&__bottom{
		background: $colorBlack;
		overflow: hidden;
		padding: 20px 0 35px;


		@include breakPoint($breakPoint){
			padding-bottom: 56px;
		}


	}

	&__carousel{
		position: relative;

		&-item{
			top: 0;
			left: 0;
			right: 0;
			transition: opacity 1s ease;
			opacity: 0;
			position: absolute;
			pointer-events: none;

			&.is-active{
				position: relative;
				opacity: 1;
				pointer-events: all;
				z-index: 1;
			}
		}

	}
}


.products{
	margin: 0 -20px;

	.slick{

		&-list{
			overflow: visible;
		}

		&-track{
			margin-left: 0;
		}

		&-slide{
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;
		}

		&-active{
			pointer-events: all;
			opacity: 1;
		}

		&-arrow{
			fill: $colorBrown;
			position: absolute;
			top: 50%;
			z-index: 1;
			width: 20px;
			height: 20px;
			transition: opacity 0.3s ease;
			cursor: pointer;

			&_prev{
				left: -60px;
			}

			&_next{
				right: -60px;
			}
		}

		&-disabled{
			opacity: 0;
			cursor: default;
		}
	}

	&__carousel{
		font-size: 0;
		position: relative;

		&-slide{
			padding: 0 20px;
			display: inline-block;
			vertical-align: middle;
			width: (100% / 3);
			box-sizing: border-box;
			cursor: pointer;

		}

		&-image{
			margin-bottom: 10px;

			img{
				width: 100%;
			}
		}


		&-title{
			@extend %fontTitle;
			font-size: 16px;
			color: $colorBrown;
			position: relative;
			padding-top: 12px;
			margin-bottom: 10px;

			@include breakPoint($breakPoint){
				font-size: 20px;
			}

			.products__carousel-slide:hover &{
				color: #fff;
			}

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 80px;
				height: 1px;
				background: $colorBrown;

				.products__carousel-slide:hover &{
					background: #fff;
				}
			}
		}

		&-text{
			font-size: 11px;
			color: $colorGrey;

			@include breakPoint($breakPoint){
				font-size: 14px;
			}
		}
	}


}



.welcome{
	padding: 92px 0 0;

	&__title{
		@extend %fontTitle;
		font-size: 39px;
		line-height: 1.5;
		margin-bottom: 10px;

		@include breakPoint($breakPoint){
			font-size: 56px;
			line-height: 1.3;
			margin-bottom: 30px;
		}

		span{
			color: $colorBrown;
		}
	}

	&__text{
		color: $colorGrey;
		line-height: 1.6;
		font-size: 0;
		font-weight: 300;
		margin-bottom: 45px;

		&-column{
			display: inline-block;
			vertical-align: top;
			width: 50%;
			box-sizing: border-box;

			&:nth-of-type(2n - 1){
				padding-right: 60px;
			}
		}

		p{
			margin: 20px 0;
			font-size: 12px;
			text-indent: 15px;

			@include breakPoint($breakPoint){
				font-size: 14px;
				margin: 30px 0;
			}


			&.quote{
				@extend %fontTitle;
				color: $colorBrown;
				font-style: italic;
				font-size: 18px;
				margin-top: 30px;
				text-indent: 0;
				font-weight: 300;
			}
		}
	}

}



.gallery{
	position: relative;

	&_open{
		z-index: 100;
	}

	.slick{

		&-list{
			overflow: visible;
		}

		&-arrow{
			position: absolute;
			top: 50%;
			width: 30px;
			height: 30px;
			fill: $colorBrown;
			z-index: 1;
			cursor: pointer;

			&_prev{
				left: -50px;
			}

			&_next{
				right: -70px;
			}
		}


		&-disabled{
			opacity: 0.25;
			cursor: default;
		}
	}

	&__list{
		font-size: 0;
	}

	&__item{
		white-space: nowrap;

		&-control{
			position: absolute;
			width: 100%;
			left: 0;
			//transform: translateX(-50%);
			text-align: right;
			font-size: 12px;
			color: $colorBrown;
			box-sizing: border-box;
			//padding: 0 30px;
			top: 0;
			opacity: 0;
			pointer-events: none;

			.gallery_open &{
				opacity: 1;
				pointer-events: all;
			}

			@include breakPoint($breakPoint){
				font-size: 14px;
			}

			svg{
				display: inline-block;
				vertical-align: middle;
				margin-right: 4px;
			}

			a{
				display: inline-block;
				vertical-align: middle;
				fill: #fff;
				margin-left: 20px;

				@include breakPoint($breakPoint){
					margin-left: 30px;
				}

				&:hover{
					fill: $colorBrown;
				}
			}

		}
	}

	&__title{
		font-size: 14px;
		@extend %fontTitle;
		font-style: italic;
		color: $colorBrown;
		margin-bottom: 16px;


		.gallery_open &{
			padding-right: 260px;
			white-space: normal;
		}
	}

	&__main{
		white-space: normal;
		display: inline-block;
		vertical-align: top;
		position: relative;

		&-image{
			height: 485px;
			width: 790px;



			@include breakPoint($breakPoint){
				height: 785px;
				width: 1276px;
			}
		}

		&-point{
			display: inline-block;
			vertical-align: top;
			min-width: 20px;
			height: 20px;
			line-height: 20px;
			background: $colorBlack;
			user-select: none;
			cursor: default;
			color: #fff;
			font-size: 14px;
			text-align: center;
			padding: 0 5px;
			box-sizing: border-box;
			border-radius: 50px;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-50%, -50%);
			transition: all 0.2s ease;

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				opacity: 0;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				border-radius: 50%;
				border: 2px solid $colorBrown;
				transform: scale(1);
			}

			&.is-active{
				background: $colorBrown;
			}

			&:hover{
				min-width: 30px;
				height: 30px;
				line-height: 30px;
			}

			&.is-animate{
				&:before{
					animation: waves 1s infinite ease-in-out;
				}
			}
		}
	}

	&__aside{
		white-space: normal;
		display: inline-block;
		vertical-align: top;
		height: 485px;
		width: 126px;
		margin-left: 10px;
		background-color: transparent;
		transition: background-color 1s ease;
		padding: 0 25px 0 20px;

		.gallery_open &{
			background-color: #fff;
		}

		@include breakPoint($breakPoint){
			height: 785px;
			width: 148px;
		}

		&-title{
			height: 46px;
			font-style: italic;
			@extend %fontTitle;
			font-size: 10px;
			line-height: 1.6;
		}

		&-list{
			height: calc(100% - 46px);
			width: calc(100% + 20px);
		}

		&-item{
			margin-bottom: 10px;
			padding-right: 20px;
			position: relative;

			&:last-child{
				margin-bottom: 0;
			}

			&.is-active{

			}
		}

		&-count{
			display: inline-block;
			vertical-align: top;
			min-width: 20px;
			height: 20px;
			background: $colorBlack;
			color: #fff;
			font-size: 14px;
			text-align: center;
			padding: 0 5px;
			box-sizing: border-box;
			line-height: 20px;
			border-radius: 20px;
			position: absolute;
			top: 0;
			left: 0;
			transition: background 0.2s ease;

			.is-active &{
				background-color: $colorBrown;
			}

			.is-animate &{
				animation: pulse 1s 2 ease-in-out 0.5s;
			}
		}

		&-name{
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			padding: 2px 0 2px 30px;
			margin-bottom: 10px;

			.is-active &{
				color: $colorBrown;
			}
		}

		&-image{
			width: 126px;
			height: 85px;
			margin-bottom: 5px;

			@include breakPoint($breakPoint){
				width: 148px;
				height: 100px;
			}
		}
	}

	&__zoom{
		width: 40px;
		height: 40px;
		font-size: 0;
		position: absolute;
		background: url("../img/svg/lens.svg") no-repeat 50% 50%;
		background-size: contain;
		opacity: 0.8;
		fill: #fff;
		z-index: 1;
		bottom: 20px;
		right: 190px;
		cursor: pointer;

		@include breakPoint($breakPoint){
			right: 215px;
		}



		&:hover{
			opacity: 1;
		}

		svg{
			width: 100%;
			height: 100%;
		}

		.gallery_open &{
			top: 0;
			right: -100px;
			background-image: url("../img/svg/close.svg");

			&:before,
			&:after{
				content: '';
				display: block;
				position: absolute;
			}

			svg{
				display: none;
			}
		}
	}


	&__preview{

		position: absolute;
		bottom: 0;
		opacity: 0;
		left: 50%;
		width: 90px;
		height: 50px;
		pointer-events: none;
		transform: translateX(-50%);
		transition: all 1s ease;

		.gallery_open &{
			bottom: -80px;
			opacity: 1;
			pointer-events: all;
		}

		&-list{
		}

		&-item{
			padding: 5px;
			box-sizing: border-box;
		}

		&-image{
			overflow: hidden;
			width: 100%;
			height: 100%;
			font-size: 0;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				background: $colorBrown;
				opacity: 0;
				transition: opacity 0.25s ease;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&:hover{
				&:after{
					opacity: 0.8;
				}
			}

			.slick-active &{
				&:after{
					opacity: 0.8;
				}
			}
		}
	}

	&__overlay{
		background: rgba($colorBlack, 0.9);
		opacity: 0;
		pointer-events: none;
		transition: all 1s ease;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.gallery_open &{
			opacity: 1;
			pointer-events: all;
		}
	}
}

@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		background: $colorBrown;
	}
	50% {
		background: $colorBlack;
	}
	100% {
		background: $colorBrown;
	}
}



.advantage{
	padding-top: 170px;
	margin-top: -75px;
	padding-bottom: 150px;
	color: $colorTextOnBlack;
	background: $colorBlack;
	font-size: 0;

	@include breakPoint($breakPoint){
		padding-top: 280px;
	}

	&__title{
		@extend %fontTitle;
		font-size: 39px;
		margin-bottom: 30px;

		@include breakPoint($breakPoint){
			font-size: 56px;
			line-height: 1.3;
		}
	}

	&__list{
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}

	&__item{
		margin-bottom: 25px;

		&-title{
			@extend %fontTitle;
			font-size: 20px;
			position: relative;
			padding-bottom: 15px;
			cursor: pointer;
			transition: color 0.3s ease;

			@include breakPoint($breakPoint){
				font-size: 24px;
			}

			.in-active &,
			.is-active &{
				cursor: default;
				color: $colorBrown;
			}

			&:after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				background: currentColor;
				transition: all 0.3s ease;
				width: 0;
				height: 2px;

				.in-active &,
				.is-active &{
					width: 80px;
				}
			}

			&:hover{
				color: $colorBrown;

				&:after{
					width: 80px;
				}
			}
		}
		&-text{
			font-size: 12px;
			padding: 15px 0;
			font-weight: 300;
			line-height: 1.6;
			display: none;

			@include breakPoint($breakPoint){
				font-size: 14px;
			}

			.out-active &,
			.is-active &{
				display: block;
			}
		}
	}

	&__graph{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		position: relative;
		user-select: none;

		&-item{
			height: 350px;
			width: 100%;

			cursor: url(../../img/svg/cursor.svg) 32 12, auto;
		}

		&-control{
			height: 350px;
			position: absolute;
			width: 6px;
			top: 0;
			right: 0;
			cursor: pointer;

			&-handler{
				position: absolute;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 16px;
				height: 16px;
				border: 2px solid $colorBrown;
				border-radius: 50%;
				cursor: move;
				color: #fff;
				top: 1px;
				box-sizing: border-box;

				&:before{
					content: '';
					display: block;
					box-sizing: border-box;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					position: absolute;
					border: 1px solid $colorBlack;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					background: currentColor;
				}
			}
		}

		&-360{
			width: 100%;

			svg{
				width: 100%;
			}
		}
	}
}


.example{
	position: relative;

	&__top{
		padding-top: 92px;

		@include breakPoint($breakPoint){
			padding-top: 180px;
		}
	}

	&__title{
		@extend %fontTitle;
		font-size: 39px;
		margin-bottom: 27px;

		@include breakPoint($breakPoint){
			font-size: 56px;
			line-height: 1.3;
		}
	}

	&__info{
		width: 50%;
		box-sizing: border-box;
		padding-right: 40px;
		padding-bottom: 35px;

		@include breakPoint($breakPoint){
			padding-bottom: 100px;
			padding-right: 140px;
		}

		&-list{}

		&-item{
			min-height: 360px;
		}

		&-title{
			@extend %fontTitle;
			position: relative;
			font-size: 20px;
			color: $colorBrown;
			padding-bottom: 15px;

			@include breakPoint($breakPoint){
				font-size: 24px;
			}

			&:after{
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				background: $colorBrown;
				width: 80px;
			}
		}
		&-text{
			font-size: 12px;
			color: $colorGrey;
			line-height: 1.6;
			font-weight: 300;
			padding-bottom: 20px;

			@include breakPoint($breakPoint){
				font-size: 14px;
			}

			p{
				margin: 10px 0;

				@include breakPoint($breakPoint){
					margin: 20px 0;
				}
			}
		}

		&-counter{
			font-size: 16px;
			font-weight: 300;
			color: $colorBrown;
			text-align: right;
		}



		.slick{
			&-arrow{
				position: absolute;
				bottom: -18px;
				left: 0;
				cursor: pointer;
				fill: $colorBrown;
				z-index: 1;

				&_prev{

				}
				&_next{
					left: 60px;
				}

			}

			&-disabled{
				opacity: 0.3;
				cursor: default;
			}
		}
	}

	&__preview{
		position: absolute;
		top: 60px;
		left: 50%;
		width: 50%;
		background: #fff;
		font-size: 0;

		@include breakPoint($breakPoint){
			top: 140px;
		}


		&-item{
			height: 600px;
			position: relative;

			&:after{
				content: '';
				width: 40px;
				height: 40px;
				font-size: 0;
				position: absolute;
				background: url("../img/svg/lens.svg") no-repeat 50% 50%;
				background-size: contain;
				opacity: 0.8;
				fill: #fff;
				z-index: 1;
				bottom: 20px;
				right: 20px;
				cursor: pointer;
			}

			@include breakPoint($breakPoint){
				height: 685px;
			}
		}
	}

	&__composition{
		background: $colorBlack;
		padding: 35px 0;
		overflow: hidden;
		margin-top: -1px;

		@include breakPoint($breakPoint){
			padding: 100px 0;
		}

		&-list{
			position: relative;
		}

		&-title{
			@extend %fontTitle;
			font-size: 16px;
			color: $colorTextOnBlack;
			font-weight: 300;
			font-style: italic;
			line-height: 1.5;
			width: 398px;
			margin-bottom: 25px;
		}

		&-item{
			top: 0;
			left: 0;
			right: 0;
			transition: opacity 1s ease;
			opacity: 0;
			position: absolute;
			pointer-events: none;

			&.is-active{
				position: relative;
				opacity: 1;
				pointer-events: all;
				z-index: 1;
			}
		}
	}
}



.videos{
	padding: 140px 0 90px;
	position: relative;
	background: $colorBlack;
	min-height: 710px;
	margin-top: -1px;
	box-sizing: border-box;

	@include breakPoint($breakPoint){
		padding-top: 170px;
		min-height: 960px;
	}

	&__info{
		margin-left: 50%;
		box-sizing: border-box;
		padding-left: 90px;
		padding-bottom: 35px;

		@include breakPoint($breakPoint){
			padding-left: 140px;
		}

		&-list{}

		&-item{
			min-height: 350px;
		}

		&-title{
			@extend %fontTitle;
			font-size: 39px;
			margin-bottom: 27px;
			color: $colorBrown;
			line-height: 1.4;

			@include breakPoint($breakPoint){
				font-size: 56px;
				line-height: 1.3;
			}

		}
		&-text{
			font-size: 12px;
			color: #989898;
			line-height: 1.6;
			font-weight: 300;
			padding-bottom: 20px;

			@include breakPoint($breakPoint){
				font-size: 14px;
			}

			p{
				margin: 20px 0;
			}
		}

		&-counter{
			font-size: 16px;
			font-weight: 300;
			color: $colorBrown;
			text-align: right;
		}



		.slick{
			&-arrow{
				position: absolute;
				bottom: -18px;
				left: 0;
				cursor: pointer;
				fill: $colorBrown;
				z-index: 1;

				&_prev{

				}
				&_next{
					left: 60px;
				}

			}

			&-disabled{
				opacity: 0.3;
				cursor: default;
			}
		}
	}

	&__preview{
		position: absolute;
		top: 80px;
		left: 0;
		width: 50%;
		background: #fff;
		font-size: 0;


		&-item{
			height: 490px;
			position: relative;

			@include breakPoint($breakPoint){
				height: 686px;
			}



		}

		&-play{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(#000, .8);
			cursor: pointer;

			svg{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				width: 187px;
				height: 187px;
			}

			circle{
				fill: none;
				stroke: #fff;
				stroke-width: 2;
				transition: stroke 0.3s ease;
			}

			path{
				fill: $colorBrown;
			}

			&:hover{
				circle{
					stroke: $colorBrown;
				}
			}
		}
	}


}



.contacts{

	font-size: 24px;
	padding: 93px 0 0;

	@include breakPoint($breakPoint){
		padding-top: 190px;
	}

	&__title{
		@extend %fontTitle;
		font-size: 39px;
		line-height: 1.6;
		margin-bottom: 40px;

		@include breakPoint($breakPoint){
			font-size: 56px;
			line-height: 1.3;
			margin-bottom: 60px;
		}

		span{
			color: $colorBrown;
		}
	}
	&__link{
		margin-bottom: 30px;

		span, a{
			display: inline-block;
			vertical-align: top;

			margin-left: 160px;

			&:first-child{
				margin-left: 0;
			}
		}

		a{
			color: #4D5A8A;
			text-decoration: underline;
			display: inline-block;
		}
	}


	&__address{
		margin-bottom: 45px;
	}
	&__btns{
		.btn{
			margin-right: 30px;
		}
	}

	&__map{
		margin-top: 100px;
		height: 500px;
		background: $colorGrey;

		@include breakPoint($breakPoint){
			height: 690px;
		}
	}
}
