.nav{

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: $zNav;


	&__btn{
		cursor: pointer;
		width: 70px;
		height: 70px;
		position: absolute;
		top: 25px;
		left: 20px;
		z-index: 2;

		&-circle{
			fill: $colorBrown;
			fill-opacity: 0;
			stroke: #000;
			stroke-width: 2;
			stroke-dasharray: 213.628;
			stroke-dashoffset: 213.628;
			//stroke-opacity: 0;
			transform: rotate(180deg);
			transform-origin: 50% 50%;
			transition: all 1s ease;

			.nav_dark &{
				fill-opacity: 1;
			}

			.is-nav-active &{
				stroke: $colorBrown;
				stroke-dashoffset: 0;
				fill-opacity: 0;
				//stroke-opacity: 1;
			}
		}

		&-line{
			fill: none;
			stroke: #000;
			stroke-width: 2;
			//stroke-linecap: round;
			transform-origin: 50% 50%;
			transition: all .5s ease;

			.nav_dark &{
				stroke: #fff;
			}

			.is-nav-active &{
				stroke: $colorBrown;
			}

			&_top{
				transform: rotate(0) translateY(10px);

				.is-nav-active &{
					transform: rotate(45deg);
				}
			}

			&_middle{
				opacity: 1;

				.is-nav-active &{
					opacity: 0;
					transform: scale(0, 1);
				}
			}

			&_bottom{
				transform: rotate(0) translateY(-10px);

				.is-nav-active &{
					transform: rotate(-45deg);
				}
			}
		}
	}

	&__overlay{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($colorBrown, .5);
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.5s ease;


		.is-nav-active &{
			pointer-events: all;
			opacity: 1;
		}
	}

	&__content{
		position: fixed;
		z-index: 1;
		width: 503px;
		background: $colorBlack;
		color: #fff;
		top: 0;
		left: 0;
		height: 100%;
		padding: 40px 40px 30px 42px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: stretch;
		align-items: stretch;
		box-sizing: border-box;

		transform: translateX(-100%);
		transition: transform 0.5s ease;

		@include breakPoint($breakPoint){
			width: 564px;
			padding: 40px 40px 50px 42px;
		}

		.is-nav-active &{
			transform: translateX(0);
		}
	}

	&__top{
		&-btn{
			text-align: right;
		}
	}

	&__menu{
		counter-reset: menu;

		&-item{
			margin: 30px 0;
			position: relative;
			padding-left: 44px;
			cursor: pointer;
			user-select: none;
			transition: color 0.3s ease;
			display: block;

			@include breakPoint($breakPoint){
				margin: 45px 0;
			}

			&:before {
				counter-increment: menu;
				content: counter(menu, decimal-leading-zero);
				font-size: 16px;
				position: absolute;
				top: -3px;
				left: 0;

				@include breakPoint($breakPoint){
					font-size: 20px;
				}
			}

			&:hover{
				color: $colorBrown;
			}

			&.is-active{
				color: $colorBrown;

				span{

					&:after{
						width: 100%;
					}
				}
			}
		}

		span{
			display: inline-block;
			position: relative;
			@extend %fontTitle;
			font-size: 20px;
			transition: width 0.3s ease;

			@include breakPoint($breakPoint){
				font-size: 30px;
			}

			&:after{
				content: '';
				height: 2px;
				position: absolute;
				left: 0;
				bottom: -7px;
				background: currentColor;
				width: 0;
			}

		}
	}

	&__contact{
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-phone{
			font-size: 16px;

			@include breakPoint($breakPoint){
				font-size: 20px;
			}
		}

		&-btn{

		}
	}
}