$popupZIndex: 100;
$popupOverlayColor: rgba($colorBlack, 1);

.popup {

	display: none;

	&.is-open {
		display: block !important;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 1088px;
		min-height: 100px;
		text-align: left;
		font-size: 16px;
		background: transparent;
		color: #fff;
	}

	&__close {
		width: 40px;
		height: 40px;
		position: fixed;
		cursor: pointer;
		top: 60px;
		right: 60px;

		background: url("../img/svg/close.svg") no-repeat 50% 50%;
		background-size: contain;

		/*&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: #555;
			height: 4px;
			width: 30px;
			margin-top: -2px;
			margin-left: -15px;
			border-radius: 10px;

		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

		&:hover {

		}*/
	}

	&__content{
		opacity: 0;
		transition: opacity .5s ease;

		.popup.is-show &{
			opacity: 1;
		}
	}





	&__product{
		font-size: 0;

		&-images{
			width: 474px;
			display: inline-block;
			vertical-align: top;
			text-align: center;
		}

		&-img{
			margin-bottom: 20px;
			img{
				max-width: 100%;
				display: inline-block;
			}
		}

		&-aside{
			width: calc(100% - 474px);
			box-sizing: border-box;
			padding: 94px 64px 50px 40px;
			display: inline-block;
			vertical-align: top;
		}

		&-info{
			min-height: 330px;
			box-sizing: border-box;
		}
		&-title{
			@extend %fontTitle;
			font-size: 24px;
			color: $colorBrown;
			position: relative;
			padding-bottom: 20px;
			margin-bottom: 25px;

			&:after{
				content: '';
				width: 80px;
				height: 1px;
				background: $colorBrown;
				left: 0;
				bottom: 0;
			}
		}
		&-subtitle{
			font-size: 16px;
			color: $colorBrown;
			margin: 25px 0 15px;
		}

		&-text{
			font-size: 14px;
			color: $colorTextOnBlack;
		}

		&-price{
			@extend %fontTitle;
			font-size: 36px;
			margin-bottom: 35px;
		}
	}
}



.popup_call{
	.popup{

		&__layout{
		}

		&__content{
			width: 720px;
		}

		&__title{
			@extend %fontTitle;
			font-size: 39px;
			margin-bottom: 35px;

			@include breakPoint($breakPoint){
				font-size: 56px;
				margin-bottom: 50px;
			}
		}
	}
}


.popup_rights{
	.popup{

		&__overlay{
			background-color: rgba($colorBlack, 1);
		}

		&__layout{
			background: $colorBrown;
			color: #fff;
			padding: 55px 40px 60px 80px;
			margin: 20px 0;
		}

		&__return{

			position: absolute;
			top: 30px;
			right: 30px;
			width: 23px;
			height: 23px;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 26px;
				margin-top: -1px;
				margin-left: -13px;

			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}

			&:hover {

			}
		}

		&__text{
			max-height: calc(100vh - 220px);

			.mCSB_container{
				margin-right: 30px;
			}

			.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
				background-color: #fff;
			}
		}

		&__btn{
			text-align: center;
			margin-top: 50px;
		}

		&__content{

			ul{}

			li{
				position: relative;
				padding-left: 38px;
				margin: 20px 0;
				font-size: 16px;
				line-height: 1.5;

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 7px;
					left: 0;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: #fff;
				}
			}
		}

		&__title{
			@extend %fontTitle;
			font-size: 24px;
			margin-bottom: 35px;

			@include breakPoint($breakPoint){

			}
		}
	}
}



.popup_video{
	.popup{

		&__layout{
			min-width: 100%;
			height: 100%;
		}

		&__close{
			z-index: 1000;
		}

		&__content{
			padding: 0;
			font-size: 0;
			height: 100%;
		}

		&__video{
			height: 100%;

			&-control{

				&-arrow{
					position: absolute;
					top: 50%;
					z-index: 10;
					display: inline-block;
					fill: #fff;
					background:  $colorBrown;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					cursor: pointer;
					margin-top: -20px;

					svg{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
					}

					&_prev{
						left: 30px;
					}
					&_next{
						right: 30px;
					}

					&.is-disable{
						opacity: 0.5;
						cursor: default;
					}
				}
			}
		}
	}

	.plyr{

		&__video-wrapper{
			padding: 0 100px;
			background: transparent;
			height: 100%;

			video{
				height: 100vh;
				background: #000;
			}
		}

		&--video{
			background: transparent;
			height: 100%;
		}

		&__control--overlaid{

		}

		&--full-ui input[type='range']{

		}
	}
}


.popup_gallery{
	.popup__close{
		right: 50%;
		margin-right: -20px;
	}

	.popup__layout{
		max-width: 1635px;
	}
}

.popup__gallery{

	&-list{}
	&-item{
		font-size: 0;
		text-align: center;
		white-space: nowrap;
		padding-bottom: 30px;
	}
	&-image{
		display: inline-block;
		vertical-align: top;
		position: relative;

		&:hover{
			.slick-arrow{
				opacity: 0.7;
			}
		}

		img{
			max-width: calc(100vw - 737px);
			max-height: calc(100vh - 270px);
		}
	}
	&-info{
		margin-left: 10px;
		display: inline-block;
		vertical-align: top;
		width: 442px;
		background: #fff;
		text-align: left;
		padding: 25px 20px;
		box-sizing: border-box;
		white-space: normal;
		color: $colorBlack;
		line-height: 1.5;
		max-height: calc(100vh - 270px);
	}
	&-title{
		font-size: 18px;
		@extend %fontTitle;
		color: $colorBrown;
		position: relative;
		padding-bottom: 15px;
		margin-bottom: 15px;

		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background: $colorBrown;
			width: 80px;
		}

	}
	&-text{
		font-size: 14px;

		p{
			margin: 10px 0;
		}
	}
	&-preview{
		font-size: 0;
		position: fixed;
		bottom: 15px;
		left: 37px;
		right: 37px;
	}
	&-thumbnail{
		width: 50px;
		height: 50px;
		display: inline-block;
		margin: 5px;
		vertical-align: middle;
		opacity: 0.5;
		transition: opacity 0.3s ease;

		&:hover{
			opacity: 1;
		}

		&.is-active{
			position: relative;
			opacity: 1;

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $colorBrown;
				opacity: 0.8;
			}
		}
	}



	.slick{
		&-arrow{
			position: absolute;
			top: 50%;
			z-index: 10;
			display: inline-block;
			fill: #fff;
			background:  $colorBrown;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			cursor: pointer;
			margin-top: -20px;
			opacity: 0;
			transition: opacity 0.3s ease;

			&:hover{
				opacity: 1;
			}

			svg{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}

			&_prev{
				left: 20px;
			}
			&_next{
				right: 20px;
			}

			&.is-disable{
				opacity: 0.5;
				cursor: default;
			}
		}
	}
}