$fontTitle: 'Merriweather', serif;
$fontMain: 'Open Sans', serif;



$fontSize: 16px;

$breakPoint: 1650px;



%fontTitle {
	font-family: $fontTitle;
	font-weight: normal;
}




$colorBlack: #191919;
$colorGrey: #757575;
$colorTextOnBlack: #C9C9C9;
$colorBrown: #CC9966;
$colorBrown: #c96;
$colorRed: #CC7266;



$colorBorder: #fff;
$colorError: $colorRed;
$colorFocus: $colorBrown;
$formColor: #fff;
$formHeight: 46px;
$formBorderRadius: 0px;

$zHeader: 5;
$zNav: 10;