<div class="popup__product">
	<div class="popup__product-images">
		<div class="popup__product-img"><img src="img/product/elements/w104.png"></div>
		<div class="popup__product-img"><img src="img/product/elements/w104_1.png"></div>
	</div>
	<div class="popup__product-aside">
		<div class="popup__product-info">
			<div class="popup__product-title">W104 KILT</div>
			<div class="popup__product-subtitle">Размеры</div>
			<div class="popup__product-text">45 x 3,6 x 45 cm Purotouch®</div>
			<div class="popup__product-subtitle">PUROTOUCH ®</div>
			<div class="popup__product-text">Высококачественный полиуретан высокой плотности</div>
		</div>
		<div class="popup__product-price">2 021,00 руб./ шт</div>
		<div class="popup__product-btn"><a class="btn btn_fill btn_big" href="#">Перейти в интернет-магазин</a></div>
	</div>
</div>